Repository netwrix/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @netwrix/1secure-docs, @netwrix/accessanalyzer-docs, @netwrix/accessinformationcenter-docs, @netwrix/activitymonitor-docs, @netwrix/auditor-docs, @netwrix/changetracker-docs, @netwrix/dataclassification-docs, @netwrix/directorymanager-docs, @netwrix/endpointpolicymanager-docs, @netwrix/endpointprotector-docs, @netwrix/identitymanager-docs, @netwrix/passwordpolicyenforcer-docs, @netwrix/passwordreset-docs, @netwrix/passwordsecure-docs, @netwrix/pingcastle-docs, @netwrix/platgovnetsuite-docs, @netwrix/platgovnetsuiteflashlight-docs, @netwrix/platgovsalesforce-docs, @netwrix/platgovsalesforceflashlight-docs, @netwrix/privilegesecure-docs, @netwrix/privilegesecurediscovery-docs, @netwrix/recoveryforactivedirectory-docs, @netwrix/threatmanager-docs, @netwrix/threatprevention-docs

Keep KB sidebar folders collapsed by default
  src/utils/generateKBSidebar.js
Owners: none

Prepare KB sidebar support for Access Analyzer (disabled)
  sidebars/accessanalyzer/11.6.js
  sidebars/accessanalyzer/12.0.js
  src/utils/generateKBSidebar.js
Owners: @netwrix/accessanalyzer-docs

Fix final cross-product link in activitymonitor KB
  docs/kb/activitymonitor/dropping_file_system_data.md
Owners: none

Enable KB in NAA sidebars
  docs/kb/accessanalyzer/exchange-online-integration/system.exception_-_new-exopssession_powershell_error_in_netwrix_access_analyzer.md
  sidebars/accessanalyzer/11.6.js
  sidebars/accessanalyzer/12.0.js
Owners: @netwrix/accessanalyzer-docs

Add the NAA KB index page to the category.json
  docs/kb/accessanalyzer/_category_.json
Owners: none

added ipv6 ngnix warning
  docs/endpointprotector/admin/appliance.md
Owners: @netwrix/endpointprotector-docs

added networkaccess.md
  docs/1secure/admin/datacollection/logonactivity/nonadminaccount/networkaccess/_category_.json
  docs/1secure/admin/datacollection/logonactivity/nonadminaccount/networkaccess/networkaccess.md
Owners: @netwrix/1secure-docs

Future-proof generateKBSidebar function to skip root-level files
  src/utils/generateKBSidebar.js
Owners: none

Replace en dashes with hyphens in file names
  docs/kb/auditor/event-id-reference/health-log-events/auditor_v10.6_known_issue_-_cannot_collect_mailbox_audit_data_unhandled_value_sendas_-_event_id_2002.md
  docs/kb/auditor/event-id-reference/health-log-events/auditor_v10.6_known_issue_-_subscription_plan_for_access_reviews_has_expired_-_event_id_2222.md
Owners: none

Enable generateKB function
  src/utils/generateKBSidebar.js
Owners: none

Add the Auditor KB to the Auditor sidebar files
  sidebars/auditor/10.6.js
  sidebars/auditor/10.7.js
  sidebars/auditor/10.8.js
Owners: @netwrix/auditor-docs

Fix Unicode minus sign and Cyrillic c in file names
  docs/kb/auditor/reports-alerts-and-notifications/subscriptions-and-distribution/remote_certificate_is_invalid_according_to_validation_procedure_-_subscriptions_error_in_netwrix_aud.md
  docs/kb/auditor/system-administration/database-management/failed_to_load_registry_hive_-_system_cannot_find_file_specified_configuration_registry_database_is_.md
  docs/kb/auditor/troubleshooting-and-errors/ssl-tls-certificate-issues/connection_issue_when_tls_1.2_is_required.md
Owners: none

Fix accidental Cyrillic character in file name
  docs/kb/auditor/configuration-and-setup/exchange-auditing/cannot_execute_powershell_command_error_in_exchange_online_monitoring_plan.md
Owners: none

Fix Cyrillic "c" in file name, link text, and URL
  docs/kb/auditor/configuration-and-setup/windows-server-monitoring/compression-service-encountered-an-internal-error-in-windows-server-monitoring-plan.md
Owners: none

Remove curly braces from file name
  docs/kb/auditor/troubleshooting-and-errors/data-collection-errors/error_the_custom_attribute_x_was_requested_but_not_set_in_domain_1_for_the_y_object_class.md
Owners: none

Enable generateKBSidebar to handle recursive KB folders of any depth
  src/utils/generateKBSidebar.js
Owners: none

Edit the generateKBSidebar function to make the generated sidebar links match the actual KB plugin routes
  src/utils/generateKBSidebar.js
Owners: none

Permissions and endpoints
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/overview.md
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/permissions/modernauth/manifest.md
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/permissions/modernauth/modernauth.md
Owners: @netwrix/auditor-docs

special symbols removed
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/permissions/modernauth/manifest.md
Owners: @netwrix/auditor-docs

Remove parentheses from NAM KB filename
  docs/kb/activitymonitor/netwrix_activity_monitor_7.0_paths.md
Owners: none

Fix broken links in Activity Monitor upgrade documentation
  docs/activitymonitor/7.1/install/upgrade/upgrade.md
  docs/activitymonitor/8.0/install/upgrade/upgrade.md
  docs/activitymonitor/9.0/install/upgrade/upgrade.md
Owners: @netwrix/activitymonitor-docs

jsonc
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/permissions/modernauth/manifest.md
Owners: @netwrix/auditor-docs

Fix acronym capitalization in KB sidebar folder names
  src/utils/generateKBSidebar.js
Owners: none

Fix KB files: remove parentheses from titles and move NPS KB to correct location
  docs/kb/activitymonitor/netwrix_activity_monitor_7.0_paths.md
  docs/kb/privilegesecure/certificates-and-security/configure_proxy_for_rdp_connections_install_update_certificate_to_prevent_rdp_certificate_warnings.md
Owners: none

Revert NAM KB to original filename - keep NPS branch clean
  docs/kb/activitymonitor/netwrix_activity_monitor_(nam)_7.0_paths.md
Owners: none

Add missing images for NPS KB
  docs/kb/privilegesecure/0-images/servlet_image_07c7409683d2.png
  docs/kb/privilegesecure/0-images/servlet_image_0f3e849ec385.png
  docs/kb/privilegesecure/0-images/servlet_image_117381e3f99f.png
  docs/kb/privilegesecure/0-images/servlet_image_16fc9e2e2432.png
  docs/kb/privilegesecure/0-images/servlet_image_21d63c042bef.png
  docs/kb/privilegesecure/0-images/servlet_image_22726c8e5cb9.png
  docs/kb/privilegesecure/0-images/servlet_image_2b1a501d40fd.png
  docs/kb/privilegesecure/0-images/servlet_image_35245db9daa9.png
  docs/kb/privilegesecure/0-images/servlet_image_491abdc2366b.png
  docs/kb/privilegesecure/0-images/servlet_image_4e7a38bb30d6.png
  docs/kb/privilegesecure/0-images/servlet_image_4f237c8e6acb.png
  docs/kb/privilegesecure/0-images/servlet_image_808a1a23eec9.png
  docs/kb/privilegesecure/0-images/servlet_image_9751657fe7cd.png
  docs/kb/privilegesecure/0-images/servlet_image_9a7649f21943.png
  docs/kb/privilegesecure/0-images/servlet_image_9ccee298858e.png
  docs/kb/privilegesecure/0-images/servlet_image_c706e5610294.png
  docs/kb/privilegesecure/0-images/servlet_image_d2bd2889a956.png
  docs/kb/privilegesecure/0-images/servlet_image_d8afec47d2b9.png
  docs/kb/privilegesecure/0-images/servlet_image_e3eecaa55357.png
  docs/kb/privilegesecure/0-images/servlet_image_ebb3b2e4c66a.png
  docs/kb/privilegesecure/0-images/servlet_image_f5c0eb62aa44.png
  docs/kb/privilegesecure/0-images/servlet_image_ff7ee6960cb2.png
Owners: none

Update package-lock.json with consistent dependencies
  package-lock.json
Owners: none

Fix MDX parsing issue in NPS KB
  docs/kb/privilegesecure/certificates-and-security/configure_proxy_for_rdp_connections_install_update_certificate_to_prevent_rdp_certificate_warnings.md
Owners: none

Fix image paths with correct relative path
  docs/kb/privilegesecure/certificates-and-security/configure_proxy_for_rdp_connections_install_update_certificate_to_prevent_rdp_certificate_warnings.md
Owners: none

Fix broken links in Activity Monitor upgrade documentation
  docs/activitymonitor/7.1/install/upgrade/upgrade.md
  docs/activitymonitor/8.0/install/upgrade/upgrade.md
  docs/activitymonitor/9.0/install/upgrade/upgrade.md
Owners: @netwrix/activitymonitor-docs

Correct policy in 1Secure-logonactivity-nondomainadmin (#410)
  docs/1secure/admin/datacollection/logonactivity/nonadminaccount/_category_.json
  docs/1secure/admin/datacollection/logonactivity/nonadminaccount/networkaccess/_category_.json
  docs/1secure/admin/datacollection/logonactivity/nonadminaccount/networkaccess/networkaccess.md
  docs/1secure/admin/datacollection/logonactivity/nonadminaccount/nondomainadmin.md
  docs/1secure/admin/datacollection/logonactivity/overview.md
Owners: @netwrix/1secure-docs

EPP: cleanup of obosolete statments in doc's
  docs/endpointprotector/admin/agent.md
  docs/endpointprotector/admin/dc_module/globalsettings.md
  docs/endpointprotector/admin/directoryserv.md
  docs/endpointprotector/requirements/client.md
Owners: @netwrix/endpointprotector-docs

EPP: typo
  docs/endpointprotector/requirements/client.md
Owners: @netwrix/endpointprotector-docs

Rename netwrix_activity_monitor_(nam)_7.0_paths.md to netwrix_activity_monitor_7.0_paths.md
  docs/kb/activitymonitor/netwrix_activity_monitor_7.0_paths.md
Owners: none

Entra Id new endpoints and permissions (#408)
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/overview.md
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/permissions/modernauth/manifest.md
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/permissions/modernauth/modernauth.md
Owners: @netwrix/auditor-docs

Fix Auditor 10.8 Microsoft Entra ID build error
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/overview.md
Owners: @netwrix/auditor-docs

Fix additional {id} reference in Microsoft Entra ID overview
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/overview.md
Owners: @netwrix/auditor-docs

Revise Service Principal Account creation steps
  docs/accessanalyzer/12.0/requirements/filesystem/filesystems/azureinformationprotection.md
Owners: @netwrix/accessanalyzer-docs

001
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/overview.md
Owners: @netwrix/auditor-docs

escaped the curly braces
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/overview.md
Owners: @netwrix/auditor-docs

.github/CODEOWNERS:

# CODEOWNERS file for product team ownership
# Teams have ownership over their product's documentation areas
# Last matching pattern takes precedence

# Global fallback - all files require review from a default team if no specific owner
# Uncomment and specify a default team if desired
# * @netwrix/docs-admin

# Product-specific ownership
# Each team owns their docs directory, sidebar files, static files, and images

# 1Secure team
/docs/1secure/ @netwrix/1secure-docs
/sidebars/1secure.js @netwrix/1secure-docs
/static/files/1secure/ @netwrix/1secure-docs
/static/images/1secure/ @netwrix/1secure-docs

# Access Analyzer team
/docs/accessanalyzer/ @netwrix/accessanalyzer-docs
/sidebars/accessanalyzer/ @netwrix/accessanalyzer-docs
/static/files/accessanalyzer/ @netwrix/accessanalyzer-docs
/static/images/accessanalyzer/ @netwrix/accessanalyzer-docs

# Access Information Center team
/docs/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/sidebars/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/static/files/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/static/images/accessinformationcenter/ @netwrix/accessinformationcenter-docs

# Activity Monitor team
/docs/activitymonitor/ @netwrix/activitymonitor-docs
/sidebars/activitymonitor/ @netwrix/activitymonitor-docs
/static/files/activitymonitor/ @netwrix/activitymonitor-docs
/static/images/activitymonitor/ @netwrix/activitymonitor-docs

# Auditor team
/docs/auditor/ @netwrix/auditor-docs
/sidebars/auditor/ @netwrix/auditor-docs
/static/files/auditor/ @netwrix/auditor-docs
/static/images/auditor/ @netwrix/auditor-docs

# Change Tracker team
/docs/changetracker/ @netwrix/changetracker-docs
/sidebars/changetracker/ @netwrix/changetracker-docs
/static/files/changetracker/ @netwrix/changetracker-docs
/static/images/changetracker/ @netwrix/changetracker-docs

# Data Classification team
/docs/dataclassification/ @netwrix/dataclassification-docs
/sidebars/dataclassification/ @netwrix/dataclassification-docs
/static/files/dataclassification/ @netwrix/dataclassification-docs
/static/images/dataclassification/ @netwrix/dataclassification-docs

# Directory Manager team
/docs/directorymanager/ @netwrix/directorymanager-docs
/sidebars/directorymanager/ @netwrix/directorymanager-docs
/static/files/directorymanager/ @netwrix/directorymanager-docs
/static/images/directorymanager/ @netwrix/directorymanager-docs

# Endpoint Policy Manager team
/docs/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs
/sidebars/endpointpolicymanager.js @netwrix/endpointpolicymanager-docs
/static/files/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs
/static/images/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs

# Endpoint Protector team
/docs/endpointprotector/ @netwrix/endpointprotector-docs
/sidebars/endpointprotector/ @netwrix/endpointprotector-docs
/static/files/endpointprotector/ @netwrix/endpointprotector-docs
/static/images/endpointprotector/ @netwrix/endpointprotector-docs

# Identity Manager team
/docs/identitymanager/ @netwrix/identitymanager-docs
/sidebars/identitymanager/ @netwrix/identitymanager-docs
/static/files/identitymanager/ @netwrix/identitymanager-docs
/static/images/identitymanager/ @netwrix/identitymanager-docs

# Password Policy Enforcer team
/docs/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/sidebars/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/static/files/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/static/images/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs

# Password Reset team
/docs/passwordreset/ @netwrix/passwordreset-docs
/sidebars/passwordreset/ @netwrix/passwordreset-docs
/static/files/passwordreset/ @netwrix/passwordreset-docs
/static/images/passwordreset/ @netwrix/passwordreset-docs

# Password Secure team
/docs/passwordsecure/ @netwrix/passwordsecure-docs
/sidebars/passwordsecure/ @netwrix/passwordsecure-docs
/static/files/passwordsecure/ @netwrix/passwordsecure-docs
/static/images/passwordsecure/ @netwrix/passwordsecure-docs

# PingCastle team
/docs/pingcastle/ @netwrix/pingcastle-docs
/sidebars/pingcastle/ @netwrix/pingcastle-docs
/static/files/pingcastle/ @netwrix/pingcastle-docs
/static/images/pingcastle/ @netwrix/pingcastle-docs

# Platform Governor NetSuite team
/docs/platgovnetsuite/ @netwrix/platgovnetsuite-docs
/sidebars/platgovnetsuite.js @netwrix/platgovnetsuite-docs
/static/files/platgovnetsuite/ @netwrix/platgovnetsuite-docs
/static/images/platgovnetsuite/ @netwrix/platgovnetsuite-docs

# Platform Governor NetSuite Flashlight team
/docs/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs
/sidebars/platgovnetsuiteflashlight.js @netwrix/platgovnetsuiteflashlight-docs
/static/files/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs
/static/images/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs

# Platform Governor Salesforce team
/docs/platgovsalesforce/ @netwrix/platgovsalesforce-docs
/sidebars/platgovsalesforce.js @netwrix/platgovsalesforce-docs
/static/files/platgovsalesforce/ @netwrix/platgovsalesforce-docs
/static/images/platgovsalesforce/ @netwrix/platgovsalesforce-docs

# Platform Governor Salesforce Flashlight team
/docs/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs
/sidebars/platgovsalesforceflashlight.js @netwrix/platgovsalesforceflashlight-docs
/static/files/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs
/static/images/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs

# Privilege Secure team
/docs/privilegesecure/ @netwrix/privilegesecure-docs
/sidebars/privilegesecure/ @netwrix/privilegesecure-docs
/static/files/privilegesecure/ @netwrix/privilegesecure-docs
/static/images/privilegesecure/ @netwrix/privilegesecure-docs

# Privilege Secure Discovery team
/docs/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs
/sidebars/privilegesecurediscovery.js @netwrix/privilegesecurediscovery-docs
/static/files/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs
/static/images/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs

# Recovery for Active Directory team
/docs/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/sidebars/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/static/files/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/static/images/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs

# Threat Manager team
/docs/threatmanager/ @netwrix/threatmanager-docs
/sidebars/threatmanager/ @netwrix/threatmanager-docs
/static/files/threatmanager/ @netwrix/threatmanager-docs
/static/images/threatmanager/ @netwrix/threatmanager-docs

# Threat Prevention team
/docs/threatprevention/ @netwrix/threatprevention-docs
/sidebars/threatprevention/ @netwrix/threatprevention-docs
/static/files/threatprevention/ @netwrix/threatprevention-docs
/static/images/threatprevention/ @netwrix/threatprevention-docs
