Repository netwrix/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @netwrix/1secure-docs, @netwrix/accessanalyzer-docs, @netwrix/accessinformationcenter-docs, @netwrix/activitymonitor-docs, @netwrix/auditor-docs, @netwrix/changetracker-docs, @netwrix/dataclassification-docs, @netwrix/directorymanager-docs, @netwrix/endpointpolicymanager-docs, @netwrix/endpointprotector-docs, @netwrix/identitymanager-docs, @netwrix/passwordpolicyenforcer-docs, @netwrix/passwordreset-docs, @netwrix/passwordsecure-docs, @netwrix/pingcastle-docs, @netwrix/platgovnetsuite-docs, @netwrix/platgovnetsuiteflashlight-docs, @netwrix/platgovsalesforce-docs, @netwrix/platgovsalesforceflashlight-docs, @netwrix/privilegesecure-docs, @netwrix/privilegesecurediscovery-docs, @netwrix/recoveryforactivedirectory-docs, @netwrix/threatmanager-docs, @netwrix/threatprevention-docs

Common NetApp errors kb article
  docs/kb/auditor/common-netapp-errors-and-resolutions.md
Owners: none

Change notes
  docs/kb/auditor/common-netapp-errors-and-resolutions.md
Owners: none

Revise CyberArk integration documentation
  docs/accessanalyzer/11.6/admin/settings/connection/cyberarkintegration.md
Owners: @netwrix/accessanalyzer-docs

Update CyberArk integration documentation
  docs/accessanalyzer/12.0/admin/settings/connection/cyberarkintegration.md
Owners: @netwrix/accessanalyzer-docs

Add CommentActivationOnRequest description in tab.md
  docs/identitymanager/6.1/integration-guide/toolkit/xml-configuration/provisioning/singlerole/index.md
Owners: @netwrix/identitymanager-docs

Update overview.md
  docs/accessanalyzer/12.0/requirements/overview.md
Owners: @netwrix/accessanalyzer-docs

Move dropping_file_system_data KB from activitymonitor to accessanalyzer
  docs/kb/accessanalyzer/0-images/servlet_image_1773855cdc8d.png
  docs/kb/accessanalyzer/0-images/servlet_image_22428c95d7b3.png
  docs/kb/accessanalyzer/0-images/servlet_image_5085710697d8.png
  docs/kb/accessanalyzer/file-system-and-sensitive-data-discovery/dropping_file_system_data.md
  docs/kb/accessanalyzer/reports-and-web-console/out-of-scope_resources_still_appear_in_the_aic_or_reporting_console_after_scoping_changes.md
  docs/kb/accessanalyzer/troubleshooting-and-errors/error-removed-host-name-in-aic-andor-fsaa-host-table.md
Owners: none

Update SQL Server requirements and considerations
  docs/accessanalyzer/12.0/requirements/overview.md
Owners: @netwrix/accessanalyzer-docs

Update Activity Monitor KB reference to relocated Access Analyzer file
  docs/kb/activitymonitor/displays_data_for_resources_that_are_out_of_scope.md
Owners: none

Fix broken KB article links in Auditor
  docs/kb/auditor/troubleshooting-connection-issues-for-the-error-connection-failed-0x800706ba-the-rpc-server-is.md
Owners: none

Move displays_data_for_resources_that_are_out_of_scope.md to Access Analyzer KB
  docs/kb/accessanalyzer/reports-and-web-console/displays_data_for_resources_that_are_out_of_scope.md
Owners: none

Update product tag and reference links in displays_data_for_resources_that_are_out_of_scope.md
  docs/kb/accessanalyzer/reports-and-web-console/displays_data_for_resources_that_are_out_of_scope.md
Owners: none

Example small change for docs purposes
  docs/endpointpolicymanager/deliverymethods/overview.md
Owners: @netwrix/endpointpolicymanager-docs

Add configuration notes for the FSA Synology datas ource (#384)
  docs/auditor/10.7/configuration/fileservers/synology/configure.md
  docs/auditor/10.8/configuration/fileservers/synology/configure.md
Owners: @netwrix/auditor-docs

Remove Docker deployment support from Directory Manager documentation
  docs/directorymanager/11.0/signin/applications/dockerprerequisites.md
  docs/directorymanager/11.0/signin/applications/portal/create.md
  docs/directorymanager/11.0/signin/applications/portal/server/docker.md
  docs/directorymanager/11.0/signin/applications/portal/server/general.md
  docs/directorymanager/11.0/signin/applications/portal/server/overview.md
  docs/directorymanager/11.0/signin/service/dataservice/create.md
  docs/directorymanager/11.0/signin/service/mobileservice/create.md
  docs/directorymanager/11.0/signin/service/mobileservice/server/deployment.md
  docs/directorymanager/11.0/signin/service/overview.md
  docs/directorymanager/11.0/signin/service/securityservice/create.md
  docs/directorymanager/11.1/admincenter/applications/dockerprerequisites.md
  docs/directorymanager/11.1/admincenter/applications/portal/create.md
  docs/directorymanager/11.1/admincenter/applications/portal/server/docker.md
  docs/directorymanager/11.1/admincenter/applications/portal/server/general.md
  docs/directorymanager/11.1/admincenter/applications/portal/server/overview.md
  docs/directorymanager/11.1/admincenter/service/dataservice/create.md
  docs/directorymanager/11.1/admincenter/service/overview.md
  docs/directorymanager/11.1/admincenter/service/securityservice/create.md
Owners: @netwrix/directorymanager-docs

Fix download link for GroupIDPasswordTransferUtility in security utility docs
  docs/directorymanager/11.1/install/securityutility.md
Owners: @netwrix/directorymanager-docs

Update SQL Server requirements and considerations
  docs/accessanalyzer/11.6/requirements/overview.md
Owners: @netwrix/accessanalyzer-docs

Formatting and adding new supported FSA source versions
  docs/auditor/10.8/requirements/supporteddatasources/supporteddatasources.md
Owners: @netwrix/auditor-docs

Formatting notes
  docs/auditor/10.8/requirements/supporteddatasources/supporteddatasources.md
Owners: @netwrix/auditor-docs

Update docs na fsa support src (#398)
  docs/auditor/10.8/requirements/supporteddatasources/supporteddatasources.md
Owners: @netwrix/auditor-docs

fix: add github_token to claude-code-review workflow
  .github/workflows/claude-code-review.yml
Owners: none

Youtube fixes
  docs/endpointpolicymanager/deliverymethods/cloud/videos/security/administrator.md
  docs/endpointpolicymanager/deliverymethods/cloud/videos/security/features.md
  docs/endpointpolicymanager/deliverymethods/cloud/videos/security/immutablelog.md
  docs/endpointpolicymanager/deliverymethods/cloud/videos/tipsandtricks/entraid.md
  docs/endpointpolicymanager/deliverymethods/cloud/videos/tipsandtricks/leastprivilegemanagerrule.md
Owners: @netwrix/endpointpolicymanager-docs

changed permissions.md and added networkaccess.md
  docs/auditor/10.8/configuration/logonactivity/networkaccess.md
  docs/auditor/10.8/configuration/logonactivity/permissions.md
Owners: @netwrix/auditor-docs

Added new NTPv8.0 LTT and removed old LTT.
  src/training/threat-prevention/additional.md
Owners: none

001
  docs/auditor/10.8/addon/copilot/deployment.md
  docs/auditor/10.8/addon/cyberark/deployment.md
  docs/auditor/10.8/addon/nutanixahv/install.md
  docs/auditor/10.8/addon/okta/deployment.md
  docs/auditor/10.8/addon/overview.md
  docs/auditor/10.8/addon/servicenow/alerts.md
  docs/auditor/10.8/addon/servicenow/install.md
  docs/auditor/10.8/addon/splunk/deployment.md
Owners: @netwrix/auditor-docs

001
  docs/auditor/10.8/addon/copilot/deployment.md
  docs/auditor/10.8/addon/cyberark/deployment.md
  docs/auditor/10.8/addon/nutanixahv/install.md
  docs/auditor/10.8/addon/okta/deployment.md
  docs/auditor/10.8/addon/overview.md
  docs/auditor/10.8/addon/servicenow/alerts.md
  docs/auditor/10.8/addon/servicenow/install.md
  docs/auditor/10.8/addon/splunk/deployment.md
Owners: @netwrix/auditor-docs

Fix broken KB links in Privilege Secure product documentation
  docs/privilegesecure/4.1/install/components/components.md
  docs/privilegesecure/4.1/install/servicesonadditionalservers/actionservice.md
  docs/privilegesecure/4.1/install/servicesonadditionalservers/proxyservice.md
  docs/privilegesecure/4.2/install/components/components.md
  docs/privilegesecure/4.2/install/servicesonadditional/actionservice.md
  docs/privilegesecure/4.2/install/servicesonadditional/proxyservice.md
Owners: @netwrix/privilegesecure-docs

networkaccess moved under permissions
  docs/auditor/10.8/configuration/logonactivity/permissions/_category_.json
  docs/auditor/10.8/configuration/logonactivity/permissions/networkaccess.md
  docs/auditor/10.8/configuration/logonactivity/permissions/permissions.md
Owners: @netwrix/auditor-docs

added changes for IPV6 additions in setup appliance and ui
  docs/endpointprotector/admin/IPV6appliancesettings.png
  docs/endpointprotector/admin/appliance.md
  docs/endpointprotector/install/virtualappliance/networkingconfig.png
  docs/endpointprotector/install/virtualappliance/setupwizard.md
Owners: @netwrix/endpointprotector-docs

added auth0 guide page and images
  docs/endpointprotector/admin/systemconfiguration/singlesignon/1CreateAuth0App.png
  docs/endpointprotector/admin/systemconfiguration/singlesignon/2AddonCallbackURL.png
  docs/endpointprotector/admin/systemconfiguration/singlesignon/2IDPDataToEPP.png
  docs/endpointprotector/admin/systemconfiguration/singlesignon/3DatabaseConnection.png
  docs/endpointprotector/admin/systemconfiguration/singlesignon/4EnableDatabaseConnection.png
  docs/endpointprotector/admin/systemconfiguration/singlesignon/5CreateEnterpriseSAML.png
  docs/endpointprotector/admin/systemconfiguration/singlesignon/5EnterpriseSAMLEnableApp.png
  docs/endpointprotector/admin/systemconfiguration/singlesignon/5EnterpriseSAMLadditionalDetails.png
  docs/endpointprotector/admin/systemconfiguration/singlesignon/5EnterpriseSAMLcoreDetails.png
  docs/endpointprotector/admin/systemconfiguration/singlesignon/6TestConnection.png
  docs/endpointprotector/admin/systemconfiguration/singlesignon/ssoauth0.md
Owners: @netwrix/endpointprotector-docs

Links corrected and quotations removed
  docs/auditor/10.8/admin/monitoringplans/dataaccounts.md
  docs/auditor/10.8/configuration/logonactivity/permissions/networkaccess.md
  docs/auditor/10.8/requirements/gmsa.md
Owners: @netwrix/auditor-docs

001
  docs/auditor/10.8/addon/azuresqlmi/_category_.json
  docs/auditor/10.8/addon/azuresqlmi/collecteddata.md
  docs/auditor/10.8/addon/azuresqlmi/deployment.md
  docs/auditor/10.8/addon/azuresqlmi/overview.md
  static/images/auditor/10.8/addon/azuresqlmi/azure-sql-mi-wizard.gif
  static/images/auditor/10.8/addon/azuresqlmi/netwrix-auditor-search.png
Owners: @netwrix/auditor-docs

changed permissions.md and added networkaccess.md (#403)
  docs/auditor/10.8/admin/monitoringplans/dataaccounts.md
  docs/auditor/10.8/configuration/logonactivity/permissions/_category_.json
  docs/auditor/10.8/configuration/logonactivity/permissions/networkaccess.md
  docs/auditor/10.8/configuration/logonactivity/permissions/permissions.md
  docs/auditor/10.8/requirements/gmsa.md
Owners: @netwrix/auditor-docs

EPP: Minor updates, image refresh, and cosmetic formatting improvements.
  docs/endpointprotector/admin/agent.md
  docs/endpointprotector/admin/appliance.md
  docs/endpointprotector/admin/cap_module/capai.md
  docs/endpointprotector/admin/systemconfiguration/ClientSoftwarePage.png
  docs/endpointprotector/admin/systemconfiguration/ClientSoftwarePage.webp
  docs/endpointprotector/admin/systemconfiguration/ClientSoftwareUpdatePage.png
  docs/endpointprotector/admin/systemconfiguration/ClientSoftwareUpdatePage.webp
  docs/endpointprotector/admin/systemconfiguration/advanceduserpasswordsettings.webp
  docs/endpointprotector/admin/systemconfiguration/backendconsolepassword.webp
  docs/endpointprotector/admin/systemconfiguration/backendconsolesetuppassword.webp
  docs/endpointprotector/admin/systemconfiguration/overview.md
  docs/endpointprotector/admin/systemconfiguration/systemdashboard.md
  docs/endpointprotector/admin/systemconfiguration/systemsecurity.md
  docs/endpointprotector/install/overview.md
  docs/endpointprotector/install/virtualappliance/formats/formats.md
  docs/endpointprotector/requirements/client.md
Owners: @netwrix/endpointprotector-docs

Updated 1720 course description and corresponding LPs, added new Customer LP for NIM
  docs/customer/training/product/identity-manager.md
  docs/customer/training/product/index.md
  docs/partner/implementation/identity-manager.md
  docs/partner/presales/identity-manager.md
  src/training/identity-manager/1720.md
Owners: none

Entra Id new endpoints and permissions
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/overview.md
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/permissions/modernauth/modernauth.md
Owners: @netwrix/auditor-docs

Correct policy in nondomainadmin
  docs/1secure/admin/datacollection/logonactivity/nondomainadmin.md
  docs/1secure/admin/datacollection/logonactivity/overview.md
Owners: @netwrix/1secure-docs

Updated UAVR Core Service removal script and linked in static assets (#299)
  docs/auditor/10.6/install/uninstall.md
  docs/auditor/10.7/install/uninstall.md
  docs/auditor/10.8/install/uninstall.md
  static/files/auditor/Uninstall-NetwrixProduct.ps1
Owners: @netwrix/auditor-docs

Specified language (JSON) to fenced code blocks for Entra ID App Registration permissions Manifest (#244)
  docs/auditor/10.8/configuration/microsoft365/exchangeonline/modernauth/manifest.md
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/permissions/modernauth/manifest.md
  docs/auditor/10.8/configuration/microsoft365/sharepointonline/permissions/modernauth/manifest.md
  docs/auditor/10.8/configuration/microsoft365/teams/permissions/modernauth/manifest.md
Owners: @netwrix/auditor-docs

added nondomainaccount.md
  docs/1secure/admin/datacollection/logonactivity/nonadminaccount/_category_.json
  docs/1secure/admin/datacollection/logonactivity/nonadminaccount/nondomainadmin.md
Owners: @netwrix/1secure-docs

.github/CODEOWNERS:

# CODEOWNERS file for product team ownership
# Teams have ownership over their product's documentation areas
# Last matching pattern takes precedence

# Global fallback - all files require review from a default team if no specific owner
# Uncomment and specify a default team if desired
# * @netwrix/docs-admin

# Product-specific ownership
# Each team owns their docs directory, sidebar files, static files, and images

# 1Secure team
/docs/1secure/ @netwrix/1secure-docs
/sidebars/1secure.js @netwrix/1secure-docs
/static/files/1secure/ @netwrix/1secure-docs
/static/images/1secure/ @netwrix/1secure-docs

# Access Analyzer team
/docs/accessanalyzer/ @netwrix/accessanalyzer-docs
/sidebars/accessanalyzer/ @netwrix/accessanalyzer-docs
/static/files/accessanalyzer/ @netwrix/accessanalyzer-docs
/static/images/accessanalyzer/ @netwrix/accessanalyzer-docs

# Access Information Center team
/docs/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/sidebars/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/static/files/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/static/images/accessinformationcenter/ @netwrix/accessinformationcenter-docs

# Activity Monitor team
/docs/activitymonitor/ @netwrix/activitymonitor-docs
/sidebars/activitymonitor/ @netwrix/activitymonitor-docs
/static/files/activitymonitor/ @netwrix/activitymonitor-docs
/static/images/activitymonitor/ @netwrix/activitymonitor-docs

# Auditor team
/docs/auditor/ @netwrix/auditor-docs
/sidebars/auditor/ @netwrix/auditor-docs
/static/files/auditor/ @netwrix/auditor-docs
/static/images/auditor/ @netwrix/auditor-docs

# Change Tracker team
/docs/changetracker/ @netwrix/changetracker-docs
/sidebars/changetracker/ @netwrix/changetracker-docs
/static/files/changetracker/ @netwrix/changetracker-docs
/static/images/changetracker/ @netwrix/changetracker-docs

# Data Classification team
/docs/dataclassification/ @netwrix/dataclassification-docs
/sidebars/dataclassification/ @netwrix/dataclassification-docs
/static/files/dataclassification/ @netwrix/dataclassification-docs
/static/images/dataclassification/ @netwrix/dataclassification-docs

# Directory Manager team
/docs/directorymanager/ @netwrix/directorymanager-docs
/sidebars/directorymanager/ @netwrix/directorymanager-docs
/static/files/directorymanager/ @netwrix/directorymanager-docs
/static/images/directorymanager/ @netwrix/directorymanager-docs

# Endpoint Policy Manager team
/docs/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs
/sidebars/endpointpolicymanager.js @netwrix/endpointpolicymanager-docs
/static/files/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs
/static/images/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs

# Endpoint Protector team
/docs/endpointprotector/ @netwrix/endpointprotector-docs
/sidebars/endpointprotector/ @netwrix/endpointprotector-docs
/static/files/endpointprotector/ @netwrix/endpointprotector-docs
/static/images/endpointprotector/ @netwrix/endpointprotector-docs

# Identity Manager team
/docs/identitymanager/ @netwrix/identitymanager-docs
/sidebars/identitymanager/ @netwrix/identitymanager-docs
/static/files/identitymanager/ @netwrix/identitymanager-docs
/static/images/identitymanager/ @netwrix/identitymanager-docs

# Password Policy Enforcer team
/docs/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/sidebars/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/static/files/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/static/images/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs

# Password Reset team
/docs/passwordreset/ @netwrix/passwordreset-docs
/sidebars/passwordreset/ @netwrix/passwordreset-docs
/static/files/passwordreset/ @netwrix/passwordreset-docs
/static/images/passwordreset/ @netwrix/passwordreset-docs

# Password Secure team
/docs/passwordsecure/ @netwrix/passwordsecure-docs
/sidebars/passwordsecure/ @netwrix/passwordsecure-docs
/static/files/passwordsecure/ @netwrix/passwordsecure-docs
/static/images/passwordsecure/ @netwrix/passwordsecure-docs

# PingCastle team
/docs/pingcastle/ @netwrix/pingcastle-docs
/sidebars/pingcastle/ @netwrix/pingcastle-docs
/static/files/pingcastle/ @netwrix/pingcastle-docs
/static/images/pingcastle/ @netwrix/pingcastle-docs

# Platform Governor NetSuite team
/docs/platgovnetsuite/ @netwrix/platgovnetsuite-docs
/sidebars/platgovnetsuite.js @netwrix/platgovnetsuite-docs
/static/files/platgovnetsuite/ @netwrix/platgovnetsuite-docs
/static/images/platgovnetsuite/ @netwrix/platgovnetsuite-docs

# Platform Governor NetSuite Flashlight team
/docs/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs
/sidebars/platgovnetsuiteflashlight.js @netwrix/platgovnetsuiteflashlight-docs
/static/files/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs
/static/images/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs

# Platform Governor Salesforce team
/docs/platgovsalesforce/ @netwrix/platgovsalesforce-docs
/sidebars/platgovsalesforce.js @netwrix/platgovsalesforce-docs
/static/files/platgovsalesforce/ @netwrix/platgovsalesforce-docs
/static/images/platgovsalesforce/ @netwrix/platgovsalesforce-docs

# Platform Governor Salesforce Flashlight team
/docs/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs
/sidebars/platgovsalesforceflashlight.js @netwrix/platgovsalesforceflashlight-docs
/static/files/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs
/static/images/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs

# Privilege Secure team
/docs/privilegesecure/ @netwrix/privilegesecure-docs
/sidebars/privilegesecure/ @netwrix/privilegesecure-docs
/static/files/privilegesecure/ @netwrix/privilegesecure-docs
/static/images/privilegesecure/ @netwrix/privilegesecure-docs

# Privilege Secure Discovery team
/docs/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs
/sidebars/privilegesecurediscovery.js @netwrix/privilegesecurediscovery-docs
/static/files/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs
/static/images/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs

# Recovery for Active Directory team
/docs/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/sidebars/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/static/files/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/static/images/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs

# Threat Manager team
/docs/threatmanager/ @netwrix/threatmanager-docs
/sidebars/threatmanager/ @netwrix/threatmanager-docs
/static/files/threatmanager/ @netwrix/threatmanager-docs
/static/images/threatmanager/ @netwrix/threatmanager-docs

# Threat Prevention team
/docs/threatprevention/ @netwrix/threatprevention-docs
/sidebars/threatprevention/ @netwrix/threatprevention-docs
/static/files/threatprevention/ @netwrix/threatprevention-docs
/static/images/threatprevention/ @netwrix/threatprevention-docs
