Repository netwrix/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @netwrix/1secure-docs, @netwrix/accessanalyzer-docs, @netwrix/accessinformationcenter-docs, @netwrix/activitymonitor-docs, @netwrix/auditor-docs, @netwrix/changetracker-docs, @netwrix/dataclassification-docs, @netwrix/directorymanager-docs, @netwrix/endpointpolicymanager-docs, @netwrix/endpointprotector-docs, @netwrix/identitymanager-docs, @netwrix/passwordpolicyenforcer-docs, @netwrix/passwordreset-docs, @netwrix/passwordsecure-docs, @netwrix/pingcastle-docs, @netwrix/platgovnetsuite-docs, @netwrix/platgovnetsuiteflashlight-docs, @netwrix/platgovsalesforce-docs, @netwrix/platgovsalesforceflashlight-docs, @netwrix/privilegesecure-docs, @netwrix/privilegesecurediscovery-docs, @netwrix/recoveryforactivedirectory-docs, @netwrix/threatmanager-docs, @netwrix/threatprevention-docs

Update appletsettings.md with certificate note
  docs/accessanalyzer/11.6/admin/datacollector/fsaa/appletsettings.md
Owners: @netwrix/accessanalyzer-docs

Update exclusions-for-antivirus-av-endpoint-software.md
  docs/kb/privilegesecure/exclusions-for-antivirus-av-endpoint-software.md
Owners: none

Added new NEP v2511 LTT
  src/training/endpoint-protector/additional.md
Owners: none

Updated Activity Monitor 9.0 documentation
  docs/activitymonitor/9.0/admin/monitoredhosts/properties/FARC33.tmp
  docs/activitymonitor/9.0/admin/monitoredhosts/properties/nutanix.md
  docs/activitymonitor/9.0/admin/outputs/FARC3D.tmp
  docs/activitymonitor/9.0/admin/outputs/operations/FARC42.tmp
  docs/activitymonitor/9.0/admin/outputs/pathfiltering/FARC44.tmp
  docs/activitymonitor/9.0/admin/outputs/pathfiltering/FARC45.tmp
  docs/activitymonitor/9.0/admin/outputs/processexclusions/FARC30.tmp
  docs/activitymonitor/9.0/admin/outputs/processexclusions/FARC31.tmp
  docs/activitymonitor/9.0/restapi/resources/FARC3E.tmp
Owners: @netwrix/activitymonitor-docs

Activity Monitor 9.0 documentation update.
  docs/activitymonitor/9.0/admin/monitoredhosts/add/dellcelerravnx.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/dellpowerscale.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/dellpowerstore.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/dellunity.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/entraid.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/hitachi.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/nasuni.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/netapp.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/nutanix.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/panzura.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/qumulo.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/sharepoint.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/sharepointonline.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/sqlserver.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/windows.md
Owners: @netwrix/activitymonitor-docs

Updated Activity Monitor 9.0 documentation. Fixed typos.
  docs/activitymonitor/9.0/admin/agents/linux.md
  docs/activitymonitor/9.0/admin/agents/overview.md
  docs/activitymonitor/9.0/admin/agents/properties/connection.md
  docs/activitymonitor/9.0/admin/agents/single.md
Owners: @netwrix/activitymonitor-docs

Updated Activity Monitor 9.0 documentation. Addressed review comments.
  docs/activitymonitor/9.0/admin/agents/activedirectory.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/dellcelerravnx.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/dellpowerscale.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/dellunity.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/hitachi.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/nasuni.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/panzura.md
  docs/activitymonitor/9.0/admin/monitoredhosts/add/windows.md
Owners: @netwrix/activitymonitor-docs

Updated Activity Monitor 9.0 documentation. Fixed review concerns.
  docs/activitymonitor/9.0/admin/monitoredhosts/properties/sharepoint.md
  docs/activitymonitor/9.0/requirements/activityagent/nas-device-configuration/celerra-vnx-aac/validate.md
  docs/activitymonitor/9.0/requirements/activityagent/nas-device-configuration/isilon-powerscale-aac/manualconfiguration.md
  docs/activitymonitor/9.0/requirements/activityagent/nas-device-configuration/isilon-powerscale-aac/validate.md
  docs/activitymonitor/9.0/requirements/activityagent/nas-device-configuration/powerstore-aac/powerstore-activity.md
  docs/activitymonitor/9.0/requirements/activityagent/nas-device-configuration/unity-aac/unity-activity.md
  docs/activitymonitor/9.0/requirements/activityagent/nas-device-configuration/unity-aac/validate.md
  docs/activitymonitor/9.0/siem/splunk/overview.md
Owners: @netwrix/activitymonitor-docs

Update overview.md
  docs/accessanalyzer/11.6/requirements/overview.md
Owners: @netwrix/accessanalyzer-docs

Add automated security review workflow for KB documentation
  .github/workflows/kb-security-review.yml
Owners: none

Updated the Claude KB security review to reference best practices outlined in Internet Engineering Task Force (IETF) RFC 6761
  .github/workflows/kb-security-review.yml
Owners: none

Reorganize 1Secure KB articles into categorized subfolders
  docs/kb/1secure/certificate-management/configure_proxy_for_rdp_connections_(installupdate_certificate_to_prevent_rdp_certificate_warnings).md
  docs/kb/1secure/permissions-and-access/how_to_confirm_permissions_for_active_directory_5._domains_0.collection_ad_domaincontrollers.md
  docs/kb/1secure/troubleshooting/password-never-expires-report-shows-incorrect-data.md
  docs/kb/1secure/troubleshooting/troubleshoot_failed_action_service_connections_to_windows_resources_(psremotingwinrm).md
Owners: none

Fix final cross-product link in activitymonitor KB
  docs/kb/activitymonitor/dropping_file_system_data.md
Owners: none

Activity Monitor. Set the default version to 9.0.
  src/config/products.js
Owners: none

Activity Monitor. Clarified Azure Files configuration - that the app registration requires a Global Administrator role.
  docs/activitymonitor/9.0/requirements/activityagent/nas-device-configuration/azure-files/azurefiles-activity.md
Owners: @netwrix/activitymonitor-docs

Activity Monitor. Clarified Azure Files configuration - that the app registration requires a Global Administrator role.
  docs/activitymonitor/9.0/requirements/activityagent/nas-device-configuration/azure-files/azurefiles-activity.md
Owners: @netwrix/activitymonitor-docs

Update index.md
  docs/identitymanager/6.2/integration-guide/toolkit/xml-configuration/notifications/notifications/accesscertificationnotification/index.md
Owners: @netwrix/identitymanager-docs

Fix image paths in 1secure KB articles
  docs/kb/1secure/certificate-management/configure_proxy_for_rdp_connections_(installupdate_certificate_to_prevent_rdp_certificate_warnings).md
  docs/kb/1secure/troubleshooting/troubleshoot_failed_action_service_connections_to_windows_resources_(psremotingwinrm).md
Owners: none

Update overview.md
  docs/accessanalyzer/12.0/admin/action/overview.md
Owners: @netwrix/accessanalyzer-docs

Reverted change to knowledge base for DC
  docs/kb/dataclassification/how-to-upgrade-a-dqs-deployment.md
Owners: none

Slight tweaks to documentation
  docs/dataclassification/5.7/introduction/deployment/ndcserverandclient/dqsmode.md
  docs/dataclassification/5.7/introduction/deployment/ndcserverandclient/ndcserverandclient.md
Owners: @netwrix/dataclassification-docs

Update index.md
  docs/identitymanager/saas/integration-guide/connectors/references-packages/oracle-database/index.md
Owners: @netwrix/identitymanager-docs

added oksta signature change from sha1 to sha256
  docs/endpointprotector/admin/systemconfiguration/singlesignon/oktaeditsignaturealgorithmnew.png
  docs/endpointprotector/admin/systemconfiguration/singlesignon/ssookta.md
Owners: @netwrix/endpointprotector-docs

added example to the regex case insensitivity in denylists
  docs/endpointprotector/admin/denylistsallowlists/Regexcaseinsensitivity1.png
  docs/endpointprotector/admin/denylistsallowlists/Regexcaseinsensitivity2.png
  docs/endpointprotector/admin/denylistsallowlists/denylists.md
Owners: @netwrix/endpointprotector-docs

Fix image paths for 1Secure KB reorganization.
  docs/kb/1secure/0-images/servlet_image_07c7409683d2.png
  docs/kb/1secure/0-images/servlet_image_0f3e849ec385.png
  docs/kb/1secure/0-images/servlet_image_117381e3f99f.png
  docs/kb/1secure/0-images/servlet_image_16fc9e2e2432.png
  docs/kb/1secure/0-images/servlet_image_21d63c042bef.png
  docs/kb/1secure/0-images/servlet_image_22726c8e5cb9.png
  docs/kb/1secure/0-images/servlet_image_2b1a501d40fd.png
  docs/kb/1secure/0-images/servlet_image_35245db9daa9.png
  docs/kb/1secure/0-images/servlet_image_491abdc2366b.png
  docs/kb/1secure/0-images/servlet_image_4e7a38bb30d6.png
  docs/kb/1secure/0-images/servlet_image_4f237c8e6acb.png
  docs/kb/1secure/0-images/servlet_image_808a1a23eec9.png
  docs/kb/1secure/0-images/servlet_image_9751657fe7cd.png
  docs/kb/1secure/0-images/servlet_image_9a7649f21943.png
  docs/kb/1secure/0-images/servlet_image_9ccee298858e.png
  docs/kb/1secure/0-images/servlet_image_c706e5610294.png
  docs/kb/1secure/0-images/servlet_image_d2bd2889a956.png
  docs/kb/1secure/0-images/servlet_image_d8afec47d2b9.png
  docs/kb/1secure/0-images/servlet_image_e3eecaa55357.png
  docs/kb/1secure/0-images/servlet_image_ebb3b2e4c66a.png
  docs/kb/1secure/0-images/servlet_image_f5c0eb62aa44.png
  docs/kb/1secure/0-images/servlet_image_ff7ee6960cb2.png
  docs/kb/1secure/certificate-management/configure_proxy_for_rdp_connections_(installupdate_certificate_to_prevent_rdp_certificate_warnings).md
  docs/kb/1secure/troubleshooting/troubleshoot_failed_action_service_connections_to_windows_resources_(psremotingwinrm).md
  package-lock.json
Owners: none

Fix broken internal links after Data Classification KB reorganization.
  docs/dataclassification/5.7/systemconfigurationoverview/users/usermanagement.md
  docs/kb/auditor/is-it-possible-to-have-ndc-sql-database-and-auditor-databases-on-the-same-sql-server.md
  docs/kb/dataclassification/system-administration/antivirus-exclusions-for-netwrix-data-classification.md
  docs/kb/dataclassification/troubleshooting-and-errors/workflow-isn-t-running-or-is-running-unexpectedly.md
Owners: @netwrix/dataclassification-docs

fixing a distortion of the original meaning
  docs/kb/auditor/troubleshooting-connection-issues-for-the-error-connection-failed-0x800706ba-the-rpc-server-is.md
Owners: none

001
  docs/auditor/10.8/addon/copilot/deployment.md
  docs/auditor/10.8/addon/cyberark/deployment.md
  docs/auditor/10.8/addon/nutanixahv/install.md
  docs/auditor/10.8/addon/okta/deployment.md
  docs/auditor/10.8/addon/overview.md
  docs/auditor/10.8/addon/servicenow/alerts.md
  docs/auditor/10.8/addon/servicenow/install.md
  docs/auditor/10.8/addon/splunk/deployment.md
Owners: @netwrix/auditor-docs

Fix broken KB article internal cross-references with category paths
  docs/kb/auditor/configuration-and-setup/file-server-auditing/child-item-with-this-name-already-exists-in-file-server-monitoring-plan.md
  docs/kb/auditor/configuration-and-setup/file-server-auditing/error-netwrix-auditor-for-file-servers-audit-service-terminated-unexpectedly.md
  docs/kb/auditor/features-and-operations/glossaries-and-faqs/how-to-get-full-netwrix-auditor-version.md
  docs/kb/auditor/features-and-operations/glossaries-and-faqs/migrating-auditor-to-new-server.md
  docs/kb/auditor/features-and-operations/glossaries-and-faqs/netwrix-auditor-licensing-faqs.md
  docs/kb/auditor/system-administration/migration-and-upgrade/netwrix_auditor_data_collection_service_crashes_after_upgrade_to_v10.7.13707.md
  docs/kb/auditor/system-administration/migration-and-upgrade/upgrade-increments-for-netwrix-auditor.md
  docs/kb/auditor/system-administration/migration-and-upgrade/upgrade_from_9.9_to_9.96_with_your_netwrix_auditor_version_cannot_be_upgraded_error.md
  docs/kb/auditor/troubleshooting-and-errors/data-collection-errors/unable-to-process-item-error-when-using-gmsa-in-netwrix-auditor.md
Owners: none

Fix remaining broken link in TLS 1.2 connection issue article
  docs/kb/auditor/troubleshooting-and-errors/ssl-tls-certificate-issues/сonnection_issue_when_tls_1.2_is_required.md
Owners: none

Fix broken KB article link in subscriptions error article
  docs/kb/auditor/reports-alerts-and-notifications/subscriptions-and-distribution/remote_certificate_is_invalid_according_to_validation_procedure_—_subscriptions_error_in_netwrix_aud.md
Owners: none

Fix all broken KB article internal cross-references with correct category paths
  docs/kb/auditor/configuration-and-setup/active-directory-auditing/active-directory-exchange-and-group-policy-changes-reported-as-made-by-system.md
  docs/kb/auditor/configuration-and-setup/active-directory-auditing/reducing-the-used-active-directory-and-entra-id-license-counts.md
  docs/kb/auditor/configuration-and-setup/file-server-auditing/cannot-establish-a-connection-to-a-windows-file-server-compression-service.md
  docs/kb/auditor/configuration-and-setup/file-server-auditing/what-is-sessionid-in-netwrix-auditor-for-file-servers.md
  docs/kb/auditor/configuration-and-setup/sharepoint-and-teams-auditing/troubleshoot_sharepoint_serveron-premise_errors.md
  docs/kb/auditor/configuration-and-setup/sql-server-auditing/cannot-generate-sspi-context-error-in-sql-server-monitoring-plan.md
  docs/kb/auditor/configuration-and-setup/sql-server-auditing/error-check-your-sql-server-settings-in-audit-database-settings.md
  docs/kb/auditor/configuration-and-setup/windows-server-monitoring/compression-service-encountered-an-internal-error-in-windows-server-monitoring-plan.md
  docs/kb/auditor/configuration-and-setup/windows-server-monitoring/could_not_create_ssltls_secure_channel_error_in_windows_server_monitoring_plan.md
  docs/kb/auditor/features-and-operations/glossaries-and-faqs/migrating-auditor-to-new-server.md
  docs/kb/auditor/reports-alerts-and-notifications/email-notifications/ssl-exception-failed-to-deliver-netwrix-auditor-health-summary-email.md
  docs/kb/auditor/troubleshooting-and-errors/data-collection-errors/error-could-not-connect-to-server.md
  docs/kb/auditor/troubleshooting-and-errors/ssl-tls-certificate-issues/сonnection_issue_when_tls_1.2_is_required.md
  docs/kb/dataclassification/classification-troubleshooting.md
  docs/kb/general/netwrix-auditor-health-log-error-event-id-6103-suggests-contacting-netwrix-technical-support.md
Owners: none

Fix broken KB article internal cross-references with category paths
  docs/kb/auditor/configuration-and-setup/active-directory-auditing/active-directory-exchange-and-group-policy-changes-reported-as-made-by-system.md
  docs/kb/auditor/configuration-and-setup/active-directory-auditing/reducing-the-used-active-directory-and-entra-id-license-counts.md
  docs/kb/auditor/configuration-and-setup/windows-server-monitoring/request-is-not-supported-windows-server-auditing.md
  docs/kb/auditor/event-id-reference/health-log-events/event-id-1000-application-errors-in-netwrix-auditor-server.md
  docs/kb/auditor/features-and-operations/glossaries-and-faqs/long-data-collection-improving-the-performance.md
  docs/kb/auditor/features-and-operations/glossaries-and-faqs/netwrix-auditor-consumes-disk-space-recommendations.md
  docs/kb/auditor/monitoring-plans/user-activity-monitoring/service-did-not-respond-to-the-start-or-control-request-error-in-user-activity-service.md
  docs/kb/auditor/monitoring-plans/user-activity-monitoring/target-computer-cannot-be-identified-in-user-activity-monitoring-plan.md
  docs/kb/auditor/system-administration/migration-and-upgrade/netwrix-auditor-upgrade-process-taking-too-long.md
  docs/kb/auditor/troubleshooting-and-errors/data-collection-errors/error-failed-to-load-registry-hive-file-is-used-by-another-process.md
  docs/kb/auditor/troubleshooting-and-errors/data-collection-errors/error-memory-limit-is-reached.md
  docs/kb/auditor/troubleshooting-and-errors/data-collection-errors/error-snapshot-saving-process-was-interrupted.md
  docs/kb/auditor/troubleshooting-and-errors/data-collection-errors/error-the-remote-procedure-call-failed.md
  docs/kb/auditor/troubleshooting-and-errors/data-collection-errors/how-to-investigate-compression-services-errors.md
Owners: none

Fix backslash in link path to how-to-assign-db-owner-permissions
  docs/kb/auditor/reports-alerts-and-notifications/report-generation/unable-to-run-reports-system-cannot-find-the-file-specified.md
Owners: none

Fix broken link reference to how-to-assign-db-owner-permissions
  docs/kb/auditor/configuration-and-setup/sql-server-auditing/how-to-migrate-netwrix-auditor-databases-to-another-sql-server-instance.md
Owners: none

added details for the epp client migration page
  docs/endpointprotector/admin/systemconfiguration/EPP Clients Migration.md
  docs/endpointprotector/admin/systemconfiguration/EPPClientMigration.png
  docs/endpointprotector/admin/systemconfiguration/MigrateSettingDC.png
Owners: @netwrix/endpointprotector-docs

updated details for the client software upgrade page
  docs/endpointprotector/admin/systemconfiguration/ClientSoftwareUpdatePage.png
  docs/endpointprotector/admin/systemconfiguration/overview.md
Owners: @netwrix/endpointprotector-docs

added hhtp2 and dpi loopback features details in the dc global settings area
  docs/endpointprotector/admin/dc_module/dpiconfiguration.png
  docs/endpointprotector/admin/dc_module/globalsettings.md
Owners: @netwrix/endpointprotector-docs

added NDC page for denylists
  docs/endpointprotector/admin/denylistsallowlists/NDCClassification.png
  docs/endpointprotector/admin/denylistsallowlists/denylists.md
Owners: @netwrix/endpointprotector-docs

Add configuration notes for the FSA Synology datas ource
  docs/auditor/10.7/configuration/fileservers/synology/configure.md
  docs/auditor/10.8/configuration/fileservers/synology/configure.md
Owners: @netwrix/auditor-docs

.github/CODEOWNERS:

# CODEOWNERS file for product team ownership
# Teams have ownership over their product's documentation areas
# Last matching pattern takes precedence

# Global fallback - all files require review from a default team if no specific owner
# Uncomment and specify a default team if desired
# * @netwrix/docs-admin

# Product-specific ownership
# Each team owns their docs directory, sidebar files, static files, and images

# 1Secure team
/docs/1secure/ @netwrix/1secure-docs
/sidebars/1secure.js @netwrix/1secure-docs
/static/files/1secure/ @netwrix/1secure-docs
/static/images/1secure/ @netwrix/1secure-docs

# Access Analyzer team
/docs/accessanalyzer/ @netwrix/accessanalyzer-docs
/sidebars/accessanalyzer/ @netwrix/accessanalyzer-docs
/static/files/accessanalyzer/ @netwrix/accessanalyzer-docs
/static/images/accessanalyzer/ @netwrix/accessanalyzer-docs

# Access Information Center team
/docs/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/sidebars/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/static/files/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/static/images/accessinformationcenter/ @netwrix/accessinformationcenter-docs

# Activity Monitor team
/docs/activitymonitor/ @netwrix/activitymonitor-docs
/sidebars/activitymonitor/ @netwrix/activitymonitor-docs
/static/files/activitymonitor/ @netwrix/activitymonitor-docs
/static/images/activitymonitor/ @netwrix/activitymonitor-docs

# Auditor team
/docs/auditor/ @netwrix/auditor-docs
/sidebars/auditor/ @netwrix/auditor-docs
/static/files/auditor/ @netwrix/auditor-docs
/static/images/auditor/ @netwrix/auditor-docs

# Change Tracker team
/docs/changetracker/ @netwrix/changetracker-docs
/sidebars/changetracker/ @netwrix/changetracker-docs
/static/files/changetracker/ @netwrix/changetracker-docs
/static/images/changetracker/ @netwrix/changetracker-docs

# Data Classification team
/docs/dataclassification/ @netwrix/dataclassification-docs
/sidebars/dataclassification/ @netwrix/dataclassification-docs
/static/files/dataclassification/ @netwrix/dataclassification-docs
/static/images/dataclassification/ @netwrix/dataclassification-docs

# Directory Manager team
/docs/directorymanager/ @netwrix/directorymanager-docs
/sidebars/directorymanager/ @netwrix/directorymanager-docs
/static/files/directorymanager/ @netwrix/directorymanager-docs
/static/images/directorymanager/ @netwrix/directorymanager-docs

# Endpoint Policy Manager team
/docs/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs
/sidebars/endpointpolicymanager.js @netwrix/endpointpolicymanager-docs
/static/files/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs
/static/images/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs

# Endpoint Protector team
/docs/endpointprotector/ @netwrix/endpointprotector-docs
/sidebars/endpointprotector/ @netwrix/endpointprotector-docs
/static/files/endpointprotector/ @netwrix/endpointprotector-docs
/static/images/endpointprotector/ @netwrix/endpointprotector-docs

# Identity Manager team
/docs/identitymanager/ @netwrix/identitymanager-docs
/sidebars/identitymanager/ @netwrix/identitymanager-docs
/static/files/identitymanager/ @netwrix/identitymanager-docs
/static/images/identitymanager/ @netwrix/identitymanager-docs

# Password Policy Enforcer team
/docs/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/sidebars/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/static/files/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/static/images/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs

# Password Reset team
/docs/passwordreset/ @netwrix/passwordreset-docs
/sidebars/passwordreset/ @netwrix/passwordreset-docs
/static/files/passwordreset/ @netwrix/passwordreset-docs
/static/images/passwordreset/ @netwrix/passwordreset-docs

# Password Secure team
/docs/passwordsecure/ @netwrix/passwordsecure-docs
/sidebars/passwordsecure/ @netwrix/passwordsecure-docs
/static/files/passwordsecure/ @netwrix/passwordsecure-docs
/static/images/passwordsecure/ @netwrix/passwordsecure-docs

# PingCastle team
/docs/pingcastle/ @netwrix/pingcastle-docs
/sidebars/pingcastle/ @netwrix/pingcastle-docs
/static/files/pingcastle/ @netwrix/pingcastle-docs
/static/images/pingcastle/ @netwrix/pingcastle-docs

# Platform Governor NetSuite team
/docs/platgovnetsuite/ @netwrix/platgovnetsuite-docs
/sidebars/platgovnetsuite.js @netwrix/platgovnetsuite-docs
/static/files/platgovnetsuite/ @netwrix/platgovnetsuite-docs
/static/images/platgovnetsuite/ @netwrix/platgovnetsuite-docs

# Platform Governor NetSuite Flashlight team
/docs/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs
/sidebars/platgovnetsuiteflashlight.js @netwrix/platgovnetsuiteflashlight-docs
/static/files/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs
/static/images/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs

# Platform Governor Salesforce team
/docs/platgovsalesforce/ @netwrix/platgovsalesforce-docs
/sidebars/platgovsalesforce.js @netwrix/platgovsalesforce-docs
/static/files/platgovsalesforce/ @netwrix/platgovsalesforce-docs
/static/images/platgovsalesforce/ @netwrix/platgovsalesforce-docs

# Platform Governor Salesforce Flashlight team
/docs/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs
/sidebars/platgovsalesforceflashlight.js @netwrix/platgovsalesforceflashlight-docs
/static/files/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs
/static/images/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs

# Privilege Secure team
/docs/privilegesecure/ @netwrix/privilegesecure-docs
/sidebars/privilegesecure/ @netwrix/privilegesecure-docs
/static/files/privilegesecure/ @netwrix/privilegesecure-docs
/static/images/privilegesecure/ @netwrix/privilegesecure-docs

# Privilege Secure Discovery team
/docs/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs
/sidebars/privilegesecurediscovery.js @netwrix/privilegesecurediscovery-docs
/static/files/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs
/static/images/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs

# Recovery for Active Directory team
/docs/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/sidebars/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/static/files/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/static/images/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs

# Threat Manager team
/docs/threatmanager/ @netwrix/threatmanager-docs
/sidebars/threatmanager/ @netwrix/threatmanager-docs
/static/files/threatmanager/ @netwrix/threatmanager-docs
/static/images/threatmanager/ @netwrix/threatmanager-docs

# Threat Prevention team
/docs/threatprevention/ @netwrix/threatprevention-docs
/sidebars/threatprevention/ @netwrix/threatprevention-docs
/static/files/threatprevention/ @netwrix/threatprevention-docs
/static/images/threatprevention/ @netwrix/threatprevention-docs
