Repository netwrix/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @netwrix/1secure-docs, @netwrix/accessanalyzer-docs, @netwrix/accessinformationcenter-docs, @netwrix/activitymonitor-docs, @netwrix/auditor-docs, @netwrix/changetracker-docs, @netwrix/dataclassification-docs, @netwrix/directorymanager-docs, @netwrix/endpointpolicymanager-docs, @netwrix/endpointprotector-docs, @netwrix/identitymanager-docs, @netwrix/passwordpolicyenforcer-docs, @netwrix/passwordreset-docs, @netwrix/passwordsecure-docs, @netwrix/pingcastle-docs, @netwrix/platgovnetsuite-docs, @netwrix/platgovnetsuiteflashlight-docs, @netwrix/platgovsalesforce-docs, @netwrix/platgovsalesforceflashlight-docs, @netwrix/privilegesecure-docs, @netwrix/privilegesecurediscovery-docs, @netwrix/recoveryforactivedirectory-docs, @netwrix/threatmanager-docs, @netwrix/threatprevention-docs

.github/CODEOWNERS:

# CODEOWNERS file for product team ownership
# Teams have ownership over their product's documentation areas
# Last matching pattern takes precedence

# Global fallback - all files require review from a default team if no specific owner
# Uncomment and specify a default team if desired
# * @netwrix/docs-admin

# Product-specific ownership
# Each team owns their docs directory, sidebar files, static files, and images

# 1Secure team
/docs/1secure/ @netwrix/1secure-docs
/sidebars/1secure.js @netwrix/1secure-docs
/static/files/1secure/ @netwrix/1secure-docs
/static/images/1secure/ @netwrix/1secure-docs

# Access Analyzer team
/docs/accessanalyzer/ @netwrix/accessanalyzer-docs
/sidebars/accessanalyzer/ @netwrix/accessanalyzer-docs
/static/files/accessanalyzer/ @netwrix/accessanalyzer-docs
/static/images/accessanalyzer/ @netwrix/accessanalyzer-docs

# Access Information Center team
/docs/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/sidebars/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/static/files/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/static/images/accessinformationcenter/ @netwrix/accessinformationcenter-docs

# Activity Monitor team
/docs/activitymonitor/ @netwrix/activitymonitor-docs
/sidebars/activitymonitor/ @netwrix/activitymonitor-docs
/static/files/activitymonitor/ @netwrix/activitymonitor-docs
/static/images/activitymonitor/ @netwrix/activitymonitor-docs

# Auditor team
/docs/auditor/ @netwrix/auditor-docs
/sidebars/auditor/ @netwrix/auditor-docs
/static/files/auditor/ @netwrix/auditor-docs
/static/images/auditor/ @netwrix/auditor-docs

# Change Tracker team
/docs/changetracker/ @netwrix/changetracker-docs
/sidebars/changetracker/ @netwrix/changetracker-docs
/static/files/changetracker/ @netwrix/changetracker-docs
/static/images/changetracker/ @netwrix/changetracker-docs

# Data Classification team
/docs/dataclassification/ @netwrix/dataclassification-docs
/sidebars/dataclassification/ @netwrix/dataclassification-docs
/static/files/dataclassification/ @netwrix/dataclassification-docs
/static/images/dataclassification/ @netwrix/dataclassification-docs

# Directory Manager team
/docs/directorymanager/ @netwrix/directorymanager-docs
/sidebars/directorymanager/ @netwrix/directorymanager-docs
/static/files/directorymanager/ @netwrix/directorymanager-docs
/static/images/directorymanager/ @netwrix/directorymanager-docs

# Endpoint Policy Manager team
/docs/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs
/sidebars/endpointpolicymanager.js @netwrix/endpointpolicymanager-docs
/static/files/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs
/static/images/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs

# Endpoint Protector team
/docs/endpointprotector/ @netwrix/endpointprotector-docs
/sidebars/endpointprotector/ @netwrix/endpointprotector-docs
/static/files/endpointprotector/ @netwrix/endpointprotector-docs
/static/images/endpointprotector/ @netwrix/endpointprotector-docs

# Identity Manager team
/docs/identitymanager/ @netwrix/identitymanager-docs
/sidebars/identitymanager/ @netwrix/identitymanager-docs
/static/files/identitymanager/ @netwrix/identitymanager-docs
/static/images/identitymanager/ @netwrix/identitymanager-docs

# Password Policy Enforcer team
/docs/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/sidebars/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/static/files/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/static/images/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs

# Password Reset team
/docs/passwordreset/ @netwrix/passwordreset-docs
/sidebars/passwordreset/ @netwrix/passwordreset-docs
/static/files/passwordreset/ @netwrix/passwordreset-docs
/static/images/passwordreset/ @netwrix/passwordreset-docs

# Password Secure team
/docs/passwordsecure/ @netwrix/passwordsecure-docs
/sidebars/passwordsecure/ @netwrix/passwordsecure-docs
/static/files/passwordsecure/ @netwrix/passwordsecure-docs
/static/images/passwordsecure/ @netwrix/passwordsecure-docs

# PingCastle team
/docs/pingcastle/ @netwrix/pingcastle-docs
/sidebars/pingcastle/ @netwrix/pingcastle-docs
/static/files/pingcastle/ @netwrix/pingcastle-docs
/static/images/pingcastle/ @netwrix/pingcastle-docs

# Platform Governor NetSuite team
/docs/platgovnetsuite/ @netwrix/platgovnetsuite-docs
/sidebars/platgovnetsuite.js @netwrix/platgovnetsuite-docs
/static/files/platgovnetsuite/ @netwrix/platgovnetsuite-docs
/static/images/platgovnetsuite/ @netwrix/platgovnetsuite-docs

# Platform Governor NetSuite Flashlight team
/docs/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs
/sidebars/platgovnetsuiteflashlight.js @netwrix/platgovnetsuiteflashlight-docs
/static/files/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs
/static/images/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs

# Platform Governor Salesforce team
/docs/platgovsalesforce/ @netwrix/platgovsalesforce-docs
/sidebars/platgovsalesforce.js @netwrix/platgovsalesforce-docs
/static/files/platgovsalesforce/ @netwrix/platgovsalesforce-docs
/static/images/platgovsalesforce/ @netwrix/platgovsalesforce-docs

# Platform Governor Salesforce Flashlight team
/docs/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs
/sidebars/platgovsalesforceflashlight.js @netwrix/platgovsalesforceflashlight-docs
/static/files/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs
/static/images/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs

# Privilege Secure team
/docs/privilegesecure/ @netwrix/privilegesecure-docs
/sidebars/privilegesecure/ @netwrix/privilegesecure-docs
/static/files/privilegesecure/ @netwrix/privilegesecure-docs
/static/images/privilegesecure/ @netwrix/privilegesecure-docs

# Privilege Secure Discovery team
/docs/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs
/sidebars/privilegesecurediscovery.js @netwrix/privilegesecurediscovery-docs
/static/files/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs
/static/images/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs

# Recovery for Active Directory team
/docs/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/sidebars/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/static/files/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/static/images/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs

# Threat Manager team
/docs/threatmanager/ @netwrix/threatmanager-docs
/sidebars/threatmanager/ @netwrix/threatmanager-docs
/static/files/threatmanager/ @netwrix/threatmanager-docs
/static/images/threatmanager/ @netwrix/threatmanager-docs

# Threat Prevention team
/docs/threatprevention/ @netwrix/threatprevention-docs
/sidebars/threatprevention/ @netwrix/threatprevention-docs
/static/files/threatprevention/ @netwrix/threatprevention-docs
/static/images/threatprevention/ @netwrix/threatprevention-docs

Added new NPS LTT
  src/training/privilege-secure/additional.md
Owners: none

escaped the curly braces (#419)
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/overview.md
Owners: @netwrix/auditor-docs

resolved conflicts
  docs/endpointprotector/admin/systemconfiguration/ClientSoftwarePage.png
  docs/endpointprotector/admin/systemconfiguration/overview.md
Owners: @netwrix/endpointprotector-docs

Enable KB sidebars for Privilege Secure
  docs/kb/privilegesecure/_category_.json
  sidebars/privilegesecure/4.1.js
  sidebars/privilegesecure/4.2.js
Owners: @netwrix/privilegesecure-docs

Enable KB sidebars for Endpoint Protector
  docs/kb/endpointprotector/_category_.json
  sidebars/endpointprotector/epp.js
Owners: @netwrix/endpointprotector-docs

Reorganize Privilege Secure Discovery KB articles into logical categories
  docs/kb/privilegesecurediscovery/0-images/ka04u00000116Xm_0EM4u000008LTeI.png
  docs/kb/privilegesecurediscovery/0-images/ka04u00000116Xm_0EM4u000008LTeN.png
  docs/kb/privilegesecurediscovery/0-images/ka04u00000116aS_0EM4u000008LUrh.png
  docs/kb/privilegesecurediscovery/0-images/ka04u00000116aS_0EM4u000008LUrm.png
  docs/kb/privilegesecurediscovery/0-images/ka04u00000116da_0EM4u000008LVoZ.png
  docs/kb/privilegesecurediscovery/authentication-and-access/_category_.json
  docs/kb/privilegesecurediscovery/authentication-and-access/how-mysystems-works-for-secureone-netwrix-privilege-secure-for-discovery-users.md
  docs/kb/privilegesecurediscovery/authentication-and-access/managing-password-expired.md
  docs/kb/privilegesecurediscovery/authentication-and-access/saml-assertion-not-yet-valid.md
  docs/kb/privilegesecurediscovery/authentication-and-access/unable-to-login-to-ui-due-to-invalid-token-error.md
  docs/kb/privilegesecurediscovery/database-and-backend/_category_.json
  docs/kb/privilegesecurediscovery/database-and-backend/how-to-access-mongodb.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/_category_.json
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/error-invalid-ssh-credentials-authentication-failed.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/troubleshooting-linux-registration.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/unhandled-error-module-failure.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/unhandled-error-there-has-been-an-error-processing-the-registration-request-ascii-codec-can-t-encode.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/unprocessableentityerror-missing-result-for-task-checkadminprivilege-code-9999.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/unprocessableentityerror-ssh-connection-error-encountered-rsa-key-expected-openssh-key.md
  docs/kb/privilegesecurediscovery/security-and-compliance/_category_.json
  docs/kb/privilegesecurediscovery/security-and-compliance/how-netwrix-privilege-secure-for-discovery-determines-a-host-is-offline.md
  docs/kb/privilegesecurediscovery/security-and-compliance/log4j-vulnerability-no-impact.md
  docs/kb/privilegesecurediscovery/system-configuration-and-requirements/_category_.json
  docs/kb/privilegesecurediscovery/system-configuration-and-requirements/generate-license-counts-with-cli-command.md
  docs/kb/privilegesecurediscovery/system-configuration-and-requirements/netwrix-privilege-secure-for-discovery-best-practices.md
  docs/kb/privilegesecurediscovery/system-configuration-and-requirements/netwrix-privilege-secure-for-discovery-port-firewall-and-datacenter-requirements.md
  docs/kb/privilegesecurediscovery/troubleshooting-and-errors/_category_.json
  docs/kb/privilegesecurediscovery/troubleshooting-and-errors/error-4domain-only-applies-with-name.md
  docs/kb/privilegesecurediscovery/troubleshooting-and-errors/error-9999-mismatch-in-service-account-username-when-attempting-to-rotate-service-password.md
  docs/kb/privilegesecurediscovery/troubleshooting-and-errors/error-file-copies-freezes-at-start-of-copy.md
  docs/kb/privilegesecurediscovery/troubleshooting-and-errors/error-module-object-has-no-attribute-mode-ccm.md
  docs/kb/privilegesecurediscovery/troubleshooting-and-errors/error-offline-access-management-oam-alternate-administrator-account-is-locked-and-the-local-administ.md
Owners: none

Fix NPS-D KB navigation by removing id fields from articles
  docs/kb/privilegesecurediscovery/_category_.json
  docs/kb/privilegesecurediscovery/authentication-and-access/how-mysystems-works-for-secureone-netwrix-privilege-secure-for-discovery-users.md
  docs/kb/privilegesecurediscovery/authentication-and-access/managing-password-expired.md
  docs/kb/privilegesecurediscovery/authentication-and-access/saml-assertion-not-yet-valid.md
  docs/kb/privilegesecurediscovery/authentication-and-access/unable-to-login-to-ui-due-to-invalid-token-error.md
  docs/kb/privilegesecurediscovery/database-and-backend/how-to-access-mongodb.md
  docs/kb/privilegesecurediscovery/index.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/error-invalid-ssh-credentials-authentication-failed.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/troubleshooting-linux-registration.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/unhandled-error-module-failure.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/unhandled-error-there-has-been-an-error-processing-the-registration-request-ascii-codec-can-t-encode.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/unprocessableentityerror-missing-result-for-task-checkadminprivilege-code-9999.md
  docs/kb/privilegesecurediscovery/linux-and-ssh-integration/unprocessableentityerror-ssh-connection-error-encountered-rsa-key-expected-openssh-key.md
  docs/kb/privilegesecurediscovery/security-and-compliance/how-netwrix-privilege-secure-for-discovery-determines-a-host-is-offline.md
  docs/kb/privilegesecurediscovery/security-and-compliance/log4j-vulnerability-no-impact.md
  docs/kb/privilegesecurediscovery/system-configuration-and-requirements/generate-license-counts-with-cli-command.md
  docs/kb/privilegesecurediscovery/system-configuration-and-requirements/netwrix-privilege-secure-for-discovery-best-practices.md
  docs/kb/privilegesecurediscovery/system-configuration-and-requirements/netwrix-privilege-secure-for-discovery-port-firewall-and-datacenter-requirements.md
  docs/kb/privilegesecurediscovery/troubleshooting-and-errors/error-4domain-only-applies-with-name.md
  docs/kb/privilegesecurediscovery/troubleshooting-and-errors/error-9999-mismatch-in-service-account-username-when-attempting-to-rotate-service-password.md
  docs/kb/privilegesecurediscovery/troubleshooting-and-errors/error-file-copies-freezes-at-start-of-copy.md
  docs/kb/privilegesecurediscovery/troubleshooting-and-errors/error-module-object-has-no-attribute-mode-ccm.md
  docs/kb/privilegesecurediscovery/troubleshooting-and-errors/error-offline-access-management-oam-alternate-administrator-account-is-locked-and-the-local-administ.md
  sidebars/privilegesecurediscovery.js
Owners: @netwrix/privilegesecurediscovery-docs

small remark regarding the epp clients migration page
  docs/endpointprotector/admin/systemconfiguration/EPP Clients Migration.md
Owners: @netwrix/endpointprotector-docs

Common NetApp errors kb article
  docs/kb/auditor/common-netapp-errors-and-resolutions.md
Owners: none

Change notes
  docs/kb/auditor/common-netapp-errors-and-resolutions.md
Owners: none

Move the netapp kb article to the proper subsection
  docs/kb/auditor/troubleshooting-and-errors/data-collection-errors/common-netapp-errors-and-resolutions.md
Owners: none

Add keywords, quick reference, fix links, move notes
  docs/kb/auditor/troubleshooting-and-errors/data-collection-errors/netapp-clustered-data-ontap-error-resolution-guide.md
Owners: none

Removed old NetApp erros article
  docs/kb/auditor/troubleshooting-and-errors/data-collection-errors/common-netapp-errors-and-resolutions.md
Owners: none

Enable KB sidebars for Access Analyzer
  docs/kb/accessanalyzer/_category_.json
  sidebars/accessanalyzer/11.6.js
  sidebars/accessanalyzer/12.0.js
Owners: @netwrix/accessanalyzer-docs

Fix filename with Unicode minus character
  docs/kb/accessanalyzer/exchange-online-integration/system.exception_-_new-exopssession_powershell_error_in_netwrix_access_analyzer.md
Owners: none

Updating the FSA Windows permission link for NA 10.7 and 10.8 (#430)
  docs/auditor/10.7/configuration/fileservers/windows/permissions.md
  docs/auditor/10.8/configuration/fileservers/windows/permissions.md
Owners: @netwrix/auditor-docs

Fix case-sensitive image filename reference in EPP SSO Auth0 doc
  docs/endpointprotector/admin/systemconfiguration/singlesignon/ssoauth0.md
Owners: @netwrix/endpointprotector-docs

Improve sidebar labels for clarity and enable KB sections
  docs/kb/accessanalyzer/active-directory-auditing/active_directory_collection_jobs_do_not_run_with_gmsa.md
  docs/kb/accessanalyzer/connection-profiles-and-credentials/determining_which_access_analyzer_collectors_support_gmsa.md
  docs/kb/accessanalyzer/database-auditing-and-configuration/migrating_netwrix_access_analyzer_database_to_a_new_sql_server.md
  docs/kb/accessanalyzer/installation-and-upgrades/error_web_reports_url_not_working_after_upgrade.md
  docs/kb/accessanalyzer/installation-and-upgrades/extended_runtime_for_0-create_schema_job_post_v12.0_upgrade.md
  docs/kb/accessanalyzer/job-management-and-scheduling/configuring_proxy_scans.md
  docs/kb/accessanalyzer/job-management-and-scheduling/improving_file_system_bulk_import_performance_by_adding_indexes_in_netwrix_access_analyzer_v12.0.md
  docs/kb/accessanalyzer/troubleshooting-and-errors/cannot_remove_ui_configuration_from_jobs_using_powershell_data_collector_jobs_with_parameters.md
  docs/kb/accessanalyzer/troubleshooting-and-errors/error_the_custom_attribute_x_was_requested_but_not_set_in_domain_1_for_the_y_object_class.md
  docs/kb/accessanalyzer/troubleshooting-and-errors/retrieving_a_list_of_expiring_ssltls_certificates_and_their_expiration_dates.md
Owners: none

Move 10 misplaced Access Analyzer KB articles from Auditor folder
  docs/kb/accessanalyzer/active-directory-auditing/active_directory_collection_jobs_do_not_run_with_gmsa.md
  docs/kb/accessanalyzer/connection-profiles-and-credentials/determining_which_access_analyzer_collectors_support_gmsa.md
  docs/kb/accessanalyzer/database-auditing-and-configuration/migrating_netwrix_access_analyzer_database_to_a_new_sql_server.md
  docs/kb/accessanalyzer/installation-and-upgrades/error_web_reports_url_not_working_after_upgrade.md
  docs/kb/accessanalyzer/installation-and-upgrades/extended_runtime_for_0-create_schema_job_post_v12.0_upgrade.md
  docs/kb/accessanalyzer/job-management-and-scheduling/configuring_proxy_scans.md
  docs/kb/accessanalyzer/job-management-and-scheduling/improving_file_system_bulk_import_performance_by_adding_indexes_in_netwrix_access_analyzer_v12.0.md
  docs/kb/accessanalyzer/troubleshooting-and-errors/cannot_remove_ui_configuration_from_jobs_using_powershell_data_collector_jobs_with_parameters.md
  docs/kb/accessanalyzer/troubleshooting-and-errors/error_the_custom_attribute_x_was_requested_but_not_set_in_domain_1_for_the_y_object_class.md
  docs/kb/accessanalyzer/troubleshooting-and-errors/retrieving_a_list_of_expiring_ssltls_certificates_and_their_expiration_dates.md
Owners: none

EPP: new outlook URL fix (#440)
  docs/endpointprotector/admin/cap_module/newoutlook.md
Owners: @netwrix/endpointprotector-docs

Fix remaining Activity Monitor KB issues
  docs/activitymonitor/7.1/install/upgrade/upgrade.md
  docs/activitymonitor/8.0/install/upgrade/upgrade.md
  docs/activitymonitor/9.0/install/upgrade/upgrade.md
  docs/kb/activitymonitor/agent-configuration-and-management/nam-linux-agent-how-to-handle-locked-auditd-config.md
  docs/kb/activitymonitor/agent-configuration-and-management/update-service-account-password-upon-password-change-in-active-directory-ad.md
  docs/kb/activitymonitor/best-practices-and-reference/net_dependencies_for_netwrix_activity_monitor.md
  docs/kb/activitymonitor/security-and-compliance/error_invalid_credentials-client_idsecret_combo_may_be_incorrect_or_expired.md
Owners: @netwrix/activitymonitor-docs

Move 28 non-Activity Monitor KBs to staging location
  docs-staging/needs-relocation/README.md
  docs-staging/needs-relocation/add_an_external_url_to_the_portal_navigation_bar.md
  docs-staging/needs-relocation/agent-returns-no-results-for-active-directory.md
  docs-staging/needs-relocation/block_applications_using_content_aware_protection.md
  docs-staging/needs-relocation/bulk_create_groups_with_multiple_additional_owners_from_a_csv_file.md
  docs-staging/needs-relocation/capture_client_logs_using_the_support_tool-v2_on_a_windows_machine.md
  docs-staging/needs-relocation/configure_security_questions_for_an_identity_store.md
  docs-staging/needs-relocation/configuring_the_entra_id_sync_integration.md
  docs-staging/needs-relocation/disable_ad_authentication_on_the_portal.md
  docs-staging/needs-relocation/error-fsac-system-scan-job-targets-incorrect-host.md
  docs-staging/needs-relocation/error_'dbo.sa_fsaa_resources.id'_is_not_the_same_data_type_as_referencing_column.md
  docs-staging/needs-relocation/error_the_applet_is_not_running_or_port_8767_is_blocked.md
  docs-staging/needs-relocation/error_the_process_cannot_access_sadictionary_hashed_sorted.dat_because_it_is_being_used_by_another_p.md
  docs-staging/needs-relocation/high_availability_-_enter_or_exit_a_failover_state_using_nps.hamgr.exe.md
  docs-staging/needs-relocation/how_to_change_the_samaccountname,_alias,_and_user_logon_name_format_to_first.last_in_the_portal.md
  docs-staging/needs-relocation/how_to_handle_duplicate_first_and_last_names_when_creating_users_with_synchronize_jobs.md
  docs-staging/needs-relocation/how_to_reapply_smartgroup_queries_and_identify_groups_with_disabled_users_in_bulk.md
  docs-staging/needs-relocation/how_to_set_up_an_offline_temporary_password.md
  docs-staging/needs-relocation/increase_communication_security_option.md
  docs-staging/needs-relocation/join_or_leave_a_group_on_behalf_of_another_user.md
  docs-staging/needs-relocation/monitoring_microsoft_sql_-_log_tracker_vs._change_tracker.md
  docs-staging/needs-relocation/multiple_licenses_assigned_to_the_same_computer.md
  docs-staging/needs-relocation/net_dependencies_for_netwrix_access_analyzer.md
  docs-staging/needs-relocation/net_dependencies_for_netwrix_recovery_for_active_directory.md
  docs-staging/needs-relocation/net_dependencies_for_netwrix_threat_manager.md
  docs-staging/needs-relocation/net_dependencies_for_netwrix_threat_prevention.md
  docs-staging/needs-relocation/not_receiving_threat_events.md
  docs-staging/needs-relocation/set_the_do_not_notify_feature_for_additional_owners_in_the_portal.md
  docs-staging/needs-relocation/uninstall_endpoint_protector_linux_clients_older_than_version_2.0.0.0.md
  docs/kb/activitymonitor/troubleshooting-and-errors/error_dbo_backup.md
Owners: none

Minor 25.12 Updates
  docs/privilegesecure/25.12/admin/interface/activities/addaction/activityactiontypes.md
  docs/privilegesecure/25.12/enduser/dashboard/historicalauditor/historical.md
Owners: @netwrix/privilegesecure-docs
