Repository netwrix/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @netwrix/1secure-docs, @netwrix/accessanalyzer-docs, @netwrix/accessinformationcenter-docs, @netwrix/activitymonitor-docs, @netwrix/auditor-docs, @netwrix/changetracker-docs, @netwrix/dataclassification-docs, @netwrix/directorymanager-docs, @netwrix/endpointpolicymanager-docs, @netwrix/endpointprotector-docs, @netwrix/identitymanager-docs, @netwrix/passwordpolicyenforcer-docs, @netwrix/passwordreset-docs, @netwrix/passwordsecure-docs, @netwrix/pingcastle-docs, @netwrix/platgovnetsuite-docs, @netwrix/platgovnetsuiteflashlight-docs, @netwrix/platgovsalesforce-docs, @netwrix/platgovsalesforceflashlight-docs, @netwrix/privilegesecure-docs, @netwrix/privilegesecurediscovery-docs, @netwrix/recoveryforactivedirectory-docs, @netwrix/threatmanager-docs, @netwrix/threatprevention-docs

Fix broken internal KB cross-reference that causes MDX compilation failure
  docs/kb/general/rolling-log_fix_hub_connection_failed._403_server_message_ip_address_blocked_loginfailures.md
Owners: none

Remove Kapa AI widget from documentation site
  docusaurus.config.js
Owners: none

Fix epm broken links in overview pages
  docs/endpointpolicymanager/components/browserrouter/knowledgebase/knowledgebase.md
  docs/endpointpolicymanager/components/browserrouter/manual/overview.md
  docs/endpointpolicymanager/components/browserrouter/overview.md
  docs/endpointpolicymanager/components/browserrouter/videolearningcenter/videolearningcenter.md
  docs/endpointpolicymanager/components/devicemanager/knowledgebase/knowledgebase.md
  docs/endpointpolicymanager/components/devicemanager/manual/overview.md
  docs/endpointpolicymanager/components/devicemanager/overview.md
  docs/endpointpolicymanager/components/devicemanager/videolearningcenter/videolearningcenter.md
  docs/endpointpolicymanager/components/endpointprivilegemanager/overview.md
  docs/endpointpolicymanager/components/fileassociationsmanager/knowledgebase/knowledgebase.md
  docs/endpointpolicymanager/components/fileassociationsmanager/overview.md
  docs/endpointpolicymanager/components/fileassociationsmanager/videolearningcenter/videolearningcenter.md
  docs/endpointpolicymanager/components/preferencesmanager/overview.md
  docs/endpointpolicymanager/components/remotedesktopprotocolmanager/manual/overview.md
  docs/endpointpolicymanager/components/remotedesktopprotocolmanager/overview.md
  docs/endpointpolicymanager/components/remoteworkdeliverymanager/overview.md
  docs/endpointpolicymanager/components/scriptstriggers/knowledgebase/knowledgebase.md
  docs/endpointpolicymanager/components/scriptstriggers/manual/overview.md
  docs/endpointpolicymanager/components/scriptstriggers/overview.md
  docs/endpointpolicymanager/components/scriptstriggers/videolearningcenter/videolearningcenter.md
  docs/endpointpolicymanager/components/securitysettingsmanager/overview.md
  docs/endpointpolicymanager/deliverymethods/overview.md
  docs/endpointpolicymanager/gettingstarted/overview.md
  docs/endpointpolicymanager/gpcompliancereporter/overview.md
  docs/endpointpolicymanager/index.md
Owners: @netwrix/endpointpolicymanager-docs

add win 2015 and rhel 9
  docs/changetracker/8.1/compliance/compliancetemplates.md
Owners: @netwrix/changetracker-docs

Changes to be committed: modified: docs/1secure/requirements/CloudAgentRequirements.md Added API endpoints for tenants in the Americas and the EU.
  docs/1secure/requirements/CloudAgentRequirements.md
Owners: @netwrix/1secure-docs

Added sql azure add on documentation
  docs/auditor/10.8/addon/azuresql/_category_.json
  docs/auditor/10.8/addon/azuresql/deployment.md
  docs/auditor/10.8/addon/azuresql/overview.md
Owners: @netwrix/auditor-docs

Update KB article: Configure delete action to target files
  docs/kb/accessanalyzer/configure-delete-action-to-target-files.md
Owners: none

Change declared language from json to jsonc so that GitHub syntax highlighting recognizes as syntactically correct.
  docs/auditor/10.8/configuration/microsoft365/exchangeonline/modernauth/manifest.md
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/permissions/modernauth/manifest.md
  docs/auditor/10.8/configuration/microsoft365/sharepointonline/permissions/modernauth/manifest.md
  docs/auditor/10.8/configuration/microsoft365/teams/permissions/modernauth/manifest.md
Owners: @netwrix/auditor-docs

Fixed quick typo.
  docs/auditor/10.8/configuration/microsoft365/teams/permissions/modernauth/manifest.md
Owners: @netwrix/auditor-docs

Spike Story 404910: Update Documentation for LPA for AD_DSRM and AD_TimeSync jobs
  docs/accessanalyzer/11.6/requirements/activedirectory/activedirectory/access.md
  docs/accessanalyzer/12.0/requirements/activedirectory/target/access.md
Owners: @netwrix/accessanalyzer-docs

Spike Story 404910: Update Documentation for LPA for AD_DSRM and AD_TimeSync jobs
  docs/accessanalyzer/11.6/requirements/activedirectory/activedirectory/access.md
  docs/accessanalyzer/12.0/requirements/activedirectory/target/access.md
Owners: @netwrix/accessanalyzer-docs

Spike Story 404910: Update Documentation for LPA for AD_DSRM and AD_TimeSync jobs
  docs/accessanalyzer/11.6/requirements/activedirectory/activedirectory/access.md
  docs/accessanalyzer/12.0/requirements/activedirectory/target/access.md
Owners: @netwrix/accessanalyzer-docs

404910 - Fixing formatting
  docs/accessanalyzer/11.6/requirements/activedirectory/activedirectory/access.md
  docs/accessanalyzer/12.0/requirements/activedirectory/target/access.md
Owners: @netwrix/accessanalyzer-docs

Fix GitHub Actions runner labels
  .github/workflows/build-and-deploy.yml
Owners: none

Depricate change tracker v1 db creds
  docs/changetracker/8.1/admin/settingstab/credentials.md
Owners: @netwrix/changetracker-docs

fix typo
  docs/changetracker/8.1/admin/settingstab/credentials.md
Owners: @netwrix/changetracker-docs

Add link to release notes
  docs/changetracker/8.1/admin/settingstab/credentials.md
Owners: @netwrix/changetracker-docs

Fix typo
  docs/changetracker/8.1/admin/settingstab/credentials.md
Owners: @netwrix/changetracker-docs

Add PowerShell script written by Joe Dibley that removes Auditor UAVR Agents. Originally created to address ADV-2022003.
  static/files/auditor/Uninstall-NetwrixProduct.ps1
Owners: @netwrix/auditor-docs

Add link to Uninstall-NetwrixProduct.ps1 to uninstall page across all supported versions of Auditor.
  docs/auditor/10.6/install/uninstall.md
  docs/auditor/10.7/install/uninstall.md
  docs/auditor/10.8/install/uninstall.md
Owners: @netwrix/auditor-docs

Update link to new location in docs/static.
  docs/kb/auditor/uninstalling-user-activity-monitoring-agents.md
Owners: none

Updated_Images_changed_Versions
  docs/auditor/10.8/install/overview.md
  docs/auditor/10.8/install/upgrade.md
  package-lock.json
  static/images/auditor/10.8/install/installationscreen.webp
  static/images/auditor/10.8/install/installationscreen8.webp
  static/images/auditor/10.8/install/welcome_screen.webp
  static/images/auditor/10.8/install/welcomescreen.webp
Owners: @netwrix/auditor-docs

Yaml_Permission_changed
  .github/workflows/claude-code-review.yml
Owners: none

docs(kb): add 4 new Netwrix Access Analyzer KB articles for ExchangePS and SPAA/SPAC errors and warnings
  docs/kb/accessanalyzer/Error-invalid-local-SPAA-storage-version
  docs/kb/accessanalyzer/ExchangePS-Error-WinRM-Shell-Client-Cannot-Process-Request
  docs/kb/accessanalyzer/ExchangePS-error-cannot-find-variable-with-name-enablesearchonlysession
  docs/kb/accessanalyzer/SEEK-warning-DLPEX-Database-Not-Exist
  docs/kb/accessanalyzer/failed-to-initialize-task.md
Owners: none

docs(kb): add 4 new Netwrix Access Analyzer KB articles for ExchangePS and SPAA/SPAC errors and warnings
  docs/kb/accessanalyzer/failed-to-initialize-task.md
Owners: none

Updated version
  package-lock.json
  package.json
Owners: none

Deleted commits
  .github/workflows/claude-code-review.yml
  docs/directorymanager/11.1/credentialprovider/installconfigurecp.md
  package-lock.json
  package.json
Owners: @netwrix/directorymanager-docs

Fix links referencing KB article titled "Connection Issue when TLS 1.2 Is Required". Link points to correct article.
  docs/kb/auditor/could_not_create_ssltls_secure_channel_error_in_windows_server_monitoring_plan.md
Owners: none

Fixed broken link
  docs/directorymanager/11.1/portal/passwordmanagement.md
Owners: @netwrix/directorymanager-docs

Auditor installation documentation updates
  docs/auditor/10.8/install/firstlaunch.md
  docs/auditor/10.8/install/overview.md
  docs/auditor/10.8/install/upgrade.md
  docs/auditor/10.8/install/virtualappliance/configure.md
  docs/kb/auditor/upgrade-increments-for-netwrix-auditor.md
  static/images/auditor/10.8/install/installationscreen.webp
  static/images/auditor/10.8/install/welcome_screen.webp
  static/images/auditor/10.8/install/welcome_screen_thumb_0_0.webp
Owners: @netwrix/auditor-docs

fix: add content to KB articles that were previously empty
  docs/kb/accessanalyzer/Error-invalid-local-SPAA-storage-version
  docs/kb/accessanalyzer/ExchangePS-Error-WinRM-Shell-Client-Cannot-Process-Request
  docs/kb/accessanalyzer/ExchangePS-error-cannot-find-variable-with-name-enablesearchonlysession
  docs/kb/accessanalyzer/SEEK-warning-DLPEX-Database-Not-Exist
Owners: none

docs(kb): add 4 new Access Analyzer KB articles with proper .md extensions
  docs/kb/accessanalyzer/Error-invalid-local-SPAA-storage-version.md
  docs/kb/accessanalyzer/ExchangePS-Error-WinRM-Shell-Client-Cannot-Process-Request.md
  docs/kb/accessanalyzer/ExchangePS-error-cannot-find-variable-with-name-enablesearchonlysession.md
  docs/kb/accessanalyzer/SEEK-warning-DLPEX-Database-Not-Exist.md
Owners: none

Fixes a number of broken links on the Auditor docs pages
  docs/auditor/10.8/admin/healthstatus/troubleshooting.md
  docs/auditor/10.8/configuration/activedirectory/overview.md
  docs/auditor/10.8/configuration/activedirectory/securitylog.md
  docs/auditor/10.8/configuration/activedirectoryfederatedservices/overview.md
  docs/auditor/10.8/configuration/exchange/overview.md
  docs/auditor/10.8/configuration/fileservers/delldatastorage/overview.md
  docs/auditor/10.8/configuration/fileservers/dellisilon/overview.md
  docs/auditor/10.8/configuration/fileservers/netappcmode/overview.md
  docs/auditor/10.8/configuration/fileservers/nutanix/overview.md
  docs/auditor/10.8/configuration/fileservers/overview.md
  docs/auditor/10.8/configuration/fileservers/qumulo/overview.md
  docs/auditor/10.8/configuration/fileservers/synology/overview.md
  docs/auditor/10.8/configuration/fileservers/windows/overview.md
  docs/auditor/10.8/configuration/grouppolicy/overview.md
  docs/auditor/10.8/configuration/logonactivity/overview.md
  docs/auditor/10.8/configuration/microsoft365/exchangeonline/overview.md
  docs/auditor/10.8/configuration/microsoft365/microsoftentraid/overview.md
  docs/auditor/10.8/configuration/microsoft365/sharepointonline/overview.md
  docs/auditor/10.8/configuration/microsoft365/teams/overview.md
  docs/auditor/10.8/configuration/networkdevices/overview.md
  docs/auditor/10.8/configuration/oracle/overview.md
  docs/auditor/10.8/configuration/sharepoint/overview.md
  docs/auditor/10.8/configuration/sqlserver/overview.md
  docs/auditor/10.8/configuration/useractivity/overview.md
  docs/auditor/10.8/configuration/vmware/overview.md
  docs/auditor/10.8/configuration/windowsserver/overview.md
  docs/auditor/10.8/requirements/console.md
  docs/auditor/10.8/requirements/deploymentscenarios.md
  docs/auditor/10.8/requirements/longtermarchive.md
  docs/auditor/10.8/requirements/software.md
  docs/auditor/10.8/requirements/sqlserver.md
  docs/auditor/10.8/requirements/workingfolder.md
Owners: @netwrix/auditor-docs

Additional fixes for AV Exclusions link in configuration articles
  docs/auditor/10.8/configuration/networkdevices/ciscoasa.md
  docs/auditor/10.8/configuration/networkdevices/ciscoios.md
  docs/auditor/10.8/configuration/networkdevices/fortinetfortigate.md
  docs/auditor/10.8/configuration/networkdevices/juniper.md
  docs/auditor/10.8/configuration/networkdevices/paloalto.md
  docs/auditor/10.8/configuration/networkdevices/sonicwall.md
  docs/auditor/10.8/configuration/oracle/overview.md
Owners: @netwrix/auditor-docs

Add three new Access Analyzer KB articles and update existing KB
  docs/kb/accessanalyzer/ExchangePS-Error-WinRM-Shell-Client-Cannot-Process-Request.md
  docs/kb/accessanalyzer/ExchangePS-error-cannot-find-variable-with-name-enablesearchonlysession.md
  docs/kb/accessanalyzer/SEEK-warning-DLPEX-Database-Not-Exist.md
  docs/kb/accessanalyzer/error-invalid-local-storage-version.md
Owners: none

Update index.md
  docs/identitymanager/saas/integration-guide/toolkit/xml-configuration/metadata/settings/mailsetting/index.md
Owners: @netwrix/identitymanager-docs

updated documentation for 5.7.10
  docs/dataclassification/5.7/dashboards.md
  docs/dataclassification/5.7/introduction/deployment/ndcserverandclient/dqsmode.md
  docs/dataclassification/5.7/introduction/deployment/ndcserverandclient/ndcserverandclient.md
  docs/dataclassification/5.7/introduction/initialconfiguration/healthalert.md
  docs/dataclassification/5.7/introduction/initialconfiguration/overview.md
  docs/dataclassification/5.7/introduction/install/ndcsqldatabase.md
  docs/dataclassification/5.7/introduction/install/overview.md
  docs/dataclassification/5.7/introduction/introduction.md
  docs/dataclassification/5.7/introduction/upgrade.md
  docs/dataclassification/5.7/systemconfigurationoverview/configuration/texthandling.md
  docs/kb/dataclassification/how-to-upgrade-a-dqs-deployment.md
Owners: @netwrix/dataclassification-docs

docs: Add password re-insertion warnings to schedules, jobs, and data sources
  docs/directorymanager/11.1/admincenter/datasource/manage.md
  docs/directorymanager/11.1/admincenter/schedule/grouplifecycle.md
  docs/directorymanager/11.1/admincenter/schedule/groupusageservice.md
  docs/directorymanager/11.1/admincenter/schedule/manage.md
  docs/directorymanager/11.1/admincenter/schedule/managedbylifecycle.md
  docs/directorymanager/11.1/admincenter/schedule/membershiplifecycle.md
  docs/directorymanager/11.1/admincenter/schedule/orphangroupupdate.md
  docs/directorymanager/11.1/admincenter/schedule/reports.md
  docs/directorymanager/11.1/admincenter/schedule/smartgroupupdate.md
  docs/directorymanager/11.1/admincenter/schedule/synchronize.md
  docs/directorymanager/11.1/admincenter/schedule/userlifecycle.md
  docs/directorymanager/11.1/admincenter/schedule/workflowacceleration.md
  docs/directorymanager/11.1/portal/synchronize/manage/job.md
Owners: @netwrix/directorymanager-docs

Update summary to include former name of product
  docs/kb/accessanalyzer/access-analyzer-migrating-low-priority-scheduled-tasks-to-normal-priority-to-improve-job-performance.md
Owners: none

Clarify uninstall requirement for upgrade to 8.0
  docs/activitymonitor/8.0/install/upgrade/upgrade.md
Owners: @netwrix/activitymonitor-docs

.github/CODEOWNERS:

# CODEOWNERS file for product team ownership
# Teams have ownership over their product's documentation areas
# Last matching pattern takes precedence

# Global fallback - all files require review from a default team if no specific owner
# Uncomment and specify a default team if desired
# * @netwrix/docs-admin

# Product-specific ownership
# Each team owns their docs directory, sidebar files, static files, and images

# 1Secure team
/docs/1secure/ @netwrix/1secure-docs
/sidebars/1secure.js @netwrix/1secure-docs
/static/files/1secure/ @netwrix/1secure-docs
/static/images/1secure/ @netwrix/1secure-docs

# Access Analyzer team
/docs/accessanalyzer/ @netwrix/accessanalyzer-docs
/sidebars/accessanalyzer/ @netwrix/accessanalyzer-docs
/static/files/accessanalyzer/ @netwrix/accessanalyzer-docs
/static/images/accessanalyzer/ @netwrix/accessanalyzer-docs

# Access Information Center team
/docs/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/sidebars/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/static/files/accessinformationcenter/ @netwrix/accessinformationcenter-docs
/static/images/accessinformationcenter/ @netwrix/accessinformationcenter-docs

# Activity Monitor team
/docs/activitymonitor/ @netwrix/activitymonitor-docs
/sidebars/activitymonitor/ @netwrix/activitymonitor-docs
/static/files/activitymonitor/ @netwrix/activitymonitor-docs
/static/images/activitymonitor/ @netwrix/activitymonitor-docs

# Auditor team
/docs/auditor/ @netwrix/auditor-docs
/sidebars/auditor/ @netwrix/auditor-docs
/static/files/auditor/ @netwrix/auditor-docs
/static/images/auditor/ @netwrix/auditor-docs

# Change Tracker team
/docs/changetracker/ @netwrix/changetracker-docs
/sidebars/changetracker/ @netwrix/changetracker-docs
/static/files/changetracker/ @netwrix/changetracker-docs
/static/images/changetracker/ @netwrix/changetracker-docs

# Data Classification team
/docs/dataclassification/ @netwrix/dataclassification-docs
/sidebars/dataclassification/ @netwrix/dataclassification-docs
/static/files/dataclassification/ @netwrix/dataclassification-docs
/static/images/dataclassification/ @netwrix/dataclassification-docs

# Directory Manager team
/docs/directorymanager/ @netwrix/directorymanager-docs
/sidebars/directorymanager/ @netwrix/directorymanager-docs
/static/files/directorymanager/ @netwrix/directorymanager-docs
/static/images/directorymanager/ @netwrix/directorymanager-docs

# Endpoint Policy Manager team
/docs/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs
/sidebars/endpointpolicymanager.js @netwrix/endpointpolicymanager-docs
/static/files/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs
/static/images/endpointpolicymanager/ @netwrix/endpointpolicymanager-docs

# Endpoint Protector team
/docs/endpointprotector/ @netwrix/endpointprotector-docs
/sidebars/endpointprotector/ @netwrix/endpointprotector-docs
/static/files/endpointprotector/ @netwrix/endpointprotector-docs
/static/images/endpointprotector/ @netwrix/endpointprotector-docs

# Identity Manager team
/docs/identitymanager/ @netwrix/identitymanager-docs
/sidebars/identitymanager/ @netwrix/identitymanager-docs
/static/files/identitymanager/ @netwrix/identitymanager-docs
/static/images/identitymanager/ @netwrix/identitymanager-docs

# Password Policy Enforcer team
/docs/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/sidebars/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/static/files/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs
/static/images/passwordpolicyenforcer/ @netwrix/passwordpolicyenforcer-docs

# Password Reset team
/docs/passwordreset/ @netwrix/passwordreset-docs
/sidebars/passwordreset/ @netwrix/passwordreset-docs
/static/files/passwordreset/ @netwrix/passwordreset-docs
/static/images/passwordreset/ @netwrix/passwordreset-docs

# Password Secure team
/docs/passwordsecure/ @netwrix/passwordsecure-docs
/sidebars/passwordsecure/ @netwrix/passwordsecure-docs
/static/files/passwordsecure/ @netwrix/passwordsecure-docs
/static/images/passwordsecure/ @netwrix/passwordsecure-docs

# PingCastle team
/docs/pingcastle/ @netwrix/pingcastle-docs
/sidebars/pingcastle/ @netwrix/pingcastle-docs
/static/files/pingcastle/ @netwrix/pingcastle-docs
/static/images/pingcastle/ @netwrix/pingcastle-docs

# Platform Governor NetSuite team
/docs/platgovnetsuite/ @netwrix/platgovnetsuite-docs
/sidebars/platgovnetsuite.js @netwrix/platgovnetsuite-docs
/static/files/platgovnetsuite/ @netwrix/platgovnetsuite-docs
/static/images/platgovnetsuite/ @netwrix/platgovnetsuite-docs

# Platform Governor NetSuite Flashlight team
/docs/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs
/sidebars/platgovnetsuiteflashlight.js @netwrix/platgovnetsuiteflashlight-docs
/static/files/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs
/static/images/platgovnetsuiteflashlight/ @netwrix/platgovnetsuiteflashlight-docs

# Platform Governor Salesforce team
/docs/platgovsalesforce/ @netwrix/platgovsalesforce-docs
/sidebars/platgovsalesforce.js @netwrix/platgovsalesforce-docs
/static/files/platgovsalesforce/ @netwrix/platgovsalesforce-docs
/static/images/platgovsalesforce/ @netwrix/platgovsalesforce-docs

# Platform Governor Salesforce Flashlight team
/docs/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs
/sidebars/platgovsalesforceflashlight.js @netwrix/platgovsalesforceflashlight-docs
/static/files/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs
/static/images/platgovsalesforceflashlight/ @netwrix/platgovsalesforceflashlight-docs

# Privilege Secure team
/docs/privilegesecure/ @netwrix/privilegesecure-docs
/sidebars/privilegesecure/ @netwrix/privilegesecure-docs
/static/files/privilegesecure/ @netwrix/privilegesecure-docs
/static/images/privilegesecure/ @netwrix/privilegesecure-docs

# Privilege Secure Discovery team
/docs/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs
/sidebars/privilegesecurediscovery.js @netwrix/privilegesecurediscovery-docs
/static/files/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs
/static/images/privilegesecurediscovery/ @netwrix/privilegesecurediscovery-docs

# Recovery for Active Directory team
/docs/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/sidebars/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/static/files/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs
/static/images/recoveryforactivedirectory/ @netwrix/recoveryforactivedirectory-docs

# Threat Manager team
/docs/threatmanager/ @netwrix/threatmanager-docs
/sidebars/threatmanager/ @netwrix/threatmanager-docs
/static/files/threatmanager/ @netwrix/threatmanager-docs
/static/images/threatmanager/ @netwrix/threatmanager-docs

# Threat Prevention team
/docs/threatprevention/ @netwrix/threatprevention-docs
/sidebars/threatprevention/ @netwrix/threatprevention-docs
/static/files/threatprevention/ @netwrix/threatprevention-docs
/static/images/threatprevention/ @netwrix/threatprevention-docs
